/******************************************************************************
Home Page Slider
*******************************************************************************/
#slider_row {
    margin: 0 -15px;
}
#homepage-slider {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 14px;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    float: left;
    /*****************************************************************************
    BXSlider Styles
    ********************************************************************************/ }

@media all and (min-width:250px) and (max-width:415px){
    #homepage-slider {
        width: 90%;
        max-width: 100%;
        padding-top: 20px; }
    #homepage-slider .homeslider-description h2 {
        font-size: 10px;
        color: #000000;
        margin: 0;
        padding: 0; }
    #homepage-slider .homeslider-description p {
        width: 50%;
        font-size: 10px;
        line-height: 1.3em;
        padding: 0.5em 0;
        color: #666666; }
    #homepage-slider .homeslider-description button {
        font-size: 1em;
        text-transform: uppercase; } 
}

@media all and (min-width:416px) and (max-width:1025px){
    #homepage-slider {
        width: 100%;
        max-width: 100%;
        padding-top: 20px; }
}
@media (min-width: 1025px) {
    #homepage-slider {
        width: 100%;
        max-width: 100%;
        padding-top: 20px; }

}




#homepage-slider #homeslider {
    margin: 0 auto;
    padding: 0; }
#homepage-slider .homeslider-container {
    position: relative; }
#homepage-slider .homeslider-image {
    position: absolute;
    left: 0;
    top: 0; }
#homepage-slider .homeslider-description {
    position: absolute;
    left: 0;
    top: 0;
    padding: 50px 50px;
    cursor: pointer; }
#homepage-slider .homeslider-description h2 {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 48px;
    color: #000000;
    margin: 0;
    padding: 0; }
#homepage-slider .homeslider-description p {
    width: 50%;
    font-size: 17px;
    line-height: 1.3em;
    padding: 0.5em 0;
    color: #666666; }
#homepage-slider .homeslider-description button {
    font-size: 1.2em;
    text-transform: uppercase; }
@media (max-width: 1200px) {
    #homepage-slider .homeslider-description {
        padding: 20px;
        font-size: 0.8em; }
}
@media (max-width: 768px) {
    #homepage-slider {
        display: none;
    }
    #homepage-slider .homeslider-description {
        padding: 30px;
        font-size: 0.7em; }
    #homepage-slider .homeslider-description p {
        width: 100%;
        font-size: 1.5em; }
    #homepage-slider .homeslider-description h2 {
        font-size: 28px;
    }        
}
@media (max-width: 480px) {
    #homepage-slider .homeslider-description h2 {
        font-size: 16px;
        color: #000000;
        margin: 0;
        padding: 0; }
    #homepage-slider .homeslider-description button {
        font-size: 1em;
        text-transform: uppercase; } 


    #homepage-slider .homeslider-description p {
        font-size: 0.6em; 
    }
}
#homepage-slider .bx-wrapper a {
    display: block; }
#homepage-slider .bx-wrapper img {
    margin: auto;
    height: auto; }
#homepage-slider .bx-wrapper .bx-viewport {
    width: 100%;
    direction: ltr !important; }
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a {
    background: #666; }
#homepage-slider .bx-wrapper .bx-controls-direction a {
    top: 50%;
    margin-top: 0px;
    font-size: 1em;
    bottom: 10px;
    outline: 0;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    z-index: 9999;
    line-height: 18px;
    background-color: #c2c2c2;}
#homepage-slider .bx-wrapper .bx-controls-direction a:before {
    height: 30px;
    width: 30px;
    display: block;
    background: #fff;
    content: ".";
    opacity: 0.14;
    text-indent: -9999px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1; }
#homepage-slider .bx-wrapper .bx-controls-direction a:after {
    display: block;
    width: 30px;
    height: 30px;
    color: #fff;
    text-indent: 0;
    text-align: center;
    font-size: 21px;
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 6px 0 0 0; }
#homepage-slider .bx-wrapper .bx-controls-direction a:hover:before {
    background: #000;
    opacity: 0.83; }
#homepage-slider .bx-wrapper .bx-prev {
    left: -15px; }
#homepage-slider .bx-wrapper .bx-prev:after {
    content: "\f104"; }
#homepage-slider .bx-wrapper .bx-next:after {
    content: "\f105"; }

#homepage-slider .bx-wrapper .bx-next {
    right: -15px; }

.ie8 #homepage-slider .bx-wrapper .bx-controls-direction a:before {
    background: #333; }
@media(max-width: 490px){
    #homepage-slider .homeslider-description a {
        display: inline-block;
        background-color: #7dc090;
        color: white;
        text-transform: uppercase;
        padding: 5px 10px;

    }
}
@media(min-width:491px){
    #homepage-slider .homeslider-description a {
        display: inline-block;
        background-color: #7dc090;
        color: white;
        text-transform: uppercase;
        padding: 10px 27px;
    }
    #homepage-slider .homeslider-description a:hover {
        background-color: #97CDA6;
    }    
}
