<style>

    thead{
        background: #F0F0F0;
    }

    .no-border{
        border: none;
    }
    table.f40{
    	font-size: 40px;
    }
    table.f30{
    	font-size: 30px;
    }
    table.f20{
    	font-size: 20px;
    }    
    

    
</style>
{*
<table class="f40">
    <tbody>
            <tr>
                <td><table><tr><td class="no-border">{$delivery_address->firstname} {$delivery_address->lastname} {if $delivery_address->company neq ''}<br />{$delivery_address->company}{/if}<br />
                	{$delivery_address->address1} <br />
                	{$delivery_address->postcode} {$delivery_address->city}<br />
                	{$delivery_address->phone} 
                </td></tr></table></td>
            </tr>
    </tbody>
</table>*}
 <table class="f30">
    <tbody>
            <tr>
                <td><table><tr><td class="no-border">{$delivery_address->firstname} {$delivery_address->lastname} {if $delivery_address->company neq ''}<br />{$delivery_address->company}{/if}<br />
                	{$delivery_address->address1} <br />
                	{$delivery_address->postcode} {$delivery_address->city}<br />
                	{$delivery_address->phone} 
                </td></tr></table></td>
            </tr>
    </tbody>
</table>
{*                
 <table class="f20">
    <tbody>
            <tr>
                <td><table><tr><td class="no-border">{$delivery_address->firstname} {$delivery_address->lastname} {if $delivery_address->company neq ''}<br />{$delivery_address->company}{/if}<br />
                	{$delivery_address->address1} <br />
                	{$delivery_address->postcode} {$delivery_address->city}<br />
                	{$delivery_address->phone} 
                </td></tr></table></td>
            </tr>
    </tbody>
</table>
*}
            