/* lnk on detail product page */
#wishlist_button, #wishlist_button_nopop {
    font-weight: 700;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: transparent;
    border-color: transparent;
    margin: auto;
    outline: 0;
    cursor: pointer;
}

#wishlist_button:before, #wishlist_button_nopop:before {
    content: url("../../../img/wish-icon.png");
    text-align: center;
    display: inline-block;
}


/* wishlist block */
#wishlist_block #wishlist_block_list {
    margin: 0 0 20px 0;
}

#wishlist_block #wishlist_block_list dl {
    font-weight: 400;
}

#wishlist_block #wishlist_block_list dl.products.no-products {
    font-weight: 700;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #d6d4d4;
}

#wishlist_block #wishlist_block_list dl.products.no-products dt {
    padding: 0;
    border-top: none;
}

#wishlist_block #wishlist_block_list dl.products.no-products dd {
    display: none;
}

#wishlist_block #wishlist_block_list dl.products {
    border-bottom: 1px solid #d6d4d4;
}

#wishlist_block #wishlist_block_list dl.products dt {
    padding: 20px 0 0;
    border-top: 1px solid #d6d4d4;
}

#wishlist_block #wishlist_block_list dl.products dd {
    padding: 0 0 20px 0;
}

#wishlist_block #wishlist_block_list dl.products dt.first_item {
    padding: 0;
    border-top: none;
}

#wishlist_block #wishlist_block_list dl dt {
    position: relative;
    padding-right: 0;
}

#wishlist_block #wishlist_block_list dl dd {
    margin: 0 0 0 24px;
}

#wishlist_block .lnk .form-group {
    margin: 0 0 20px 0;
}

#wishlist_block .lnk .form-group select {
    max-width: 192px;
}



#wishlist_block .ajax_cart_block_remove_link {
    font-size: 14px;
    line-height: 14px;
    color: #d3d2d2;
    width: 14px;
    height: 14px;
    float: right;
}

#wishlist_block .ajax_cart_block_remove_link:hover {
    color: #515151;
}

#wishlist_block .cart_block_product_name {
    width: 85%;
    display: inline-block;
    font-weight: bold;
}

#wishlist_block .quantity-formated {
    float: left;
    margin: 0 5px 0 0;
    width: 15px;
}

#wishlist_block_list .price {
    float: right;
}

/* page in my account ************************************************************************* */
#mywishlist td.wishlist_delete a {
    font-size: 15px;
}

/* wishlistLinkTop */
#module-blockwishlist-mywishlist #block-order-detail #hideSendWishlist {
    display: inline-block;
}

#module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list {
    border-bottom: 1px solid #d6d4d4;
    margin-bottom: 20px;
}

#module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list a {
    display: inline-block;
    color: #333;
    margin: 10px 10px 10px 0px;
    font-weight: bold;
}

#module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list a:hover {
    color: #515151;
}

#module-blockwishlist-mywishlist .wishlistLinkTop li {
    float: left;
}

#module-blockwishlist-mywishlist .wishlistLinkTop #hideSendWishlist {
    float: right;
}

#module-blockwishlist-mywishlist .wishlistLinkTop #showBoughtProducts,
#module-blockwishlist-mywishlist .wishlistLinkTop #hideBoughtProductsInfos {
    display: none;
}

/* wlp_bought ****************************************** */
/* wlp_bought_list */
ul.wlp_bought_list li {
    margin: 0 0 30px 0;
    /*> 992px*/
    /*768px x 991px*/
}

ul.wlp_bought_list li .product_image {
    padding: 9px;
    border: 1px solid #d6d4d4;
    margin: 0 0 20px 0;
    max-width: 270px;
}

ul.wlp_bought_list li .product-name {
    margin: 0 0 10px 0;
    padding: 0 20px 0 0;
}

ul.wlp_bought_list li .product-name small {
    display: block;
    font-size: 11px;
}

ul.wlp_bought_list li .product-name small a {
    font-size: 11px;
}

ul.wlp_bought_list li .product_infos {
    position: relative;
}

ul.wlp_bought_list li .btn_action .btn {
    margin: 0 0 10px 0;
}

.wishlistLinkTop .submit {
    margin: 0 0 30px 0;
}

ul.wlp_bought_list li .lnkdel {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    font-size: 14px;
}

#wishlist_button > .btn-group {
    width: 80%;
}

ul.product_list.grid > li .product-container .functional-buttons .wishlist .popover {
    padding: 0;
    min-width: 160px;
}

ul.product_list.grid > li .product-container .functional-buttons .wishlist .popover .popover-content {
    padding: 0;
    min-width: 158px;
}

ul.product_list.grid > li .product-container .functional-buttons .wishlist .popover table {
    margin-bottom: 2px;
}

ul.product_list.grid > li .product-container .functional-buttons .wishlist .popover table td:hover {
    background-color: #cccccc;
    cursor: pointer;
}

[id=wishlist_button] + .popover,
.wishlist_change_button + .popover {
    padding: 0;
    min-width: 150px;
}

[id=wishlist_button] + .popover .popover-content,
.wishlist_change_button + .popover .popover-content {
    padding: 0;
}

[id=wishlist_button] + .popover table,
.wishlist_change_button + .popover table {
    margin-bottom: 2px;
}

[id=wishlist_button] + .popover table td:hover,
.wishlist_change_button + .popover table td:hover {
    background-color: #cccccc;
    cursor: pointer;
}

#header .blockwishlist_top {
    position: relative;
    float: right;
    text-align: center;
    width: 66px;
}

#header .blockwishlist_top:hover > a > b {
    color: #e50046;
    font-weight: 400;
}

.blockwishlist_top > a:first-child {
    display: block;
    overflow: hidden;
    height: 100%;
}

.blockwishlist_top > a:first-child b {
    display: block;
    font-size:14px;
    font-weight: 200;
    color:#c9c9c9;
}
.blockwishlist_top > a:first-child:hover{
    background: #f4f4f4;
}
.wishlist_product_detail p.form-group {
    width: 100%;
    position: relative;
    margin: 10px;    
}

@media (max-width: 767px) {
    #wishlist_button::before, #wishlist_button_nopop{
        display: inline-block;
        margin: auto;
    }
    .withwl{
        text-align: center;
    }
    #wishlist_button::before, #wishlist_button_nopop::before{
        font-size: 34px;
        line-height: 40px;
    }
}


#header .blockwishlist_top:hover > a > img {
}

/*# sourceMappingURL=blockwishlist.css.map */

@media (max-width: 1199px) {
    #header .blockwishlist_top{
        width: 66px;
    }
}

@media (min-width: 992px) {
    ul.wlp_bought_list li.first-in-line {
        clear: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    ul.wlp_bought_list li.first-item-of-tablet-line {
        clear: left;
    }
}

@media (min-width: 768px) AND (max-width: 1199px) {
    #header .blockwishlist_top {
        float: none;
        position: absolute;
        right: 70px;
        top: -10px;       
    }  
}
@media (max-width: 767px) {
    #wishlist_block .lnk .form-group select {
        width: 192px;
    }
    #header .blockwishlist_top{
        display: inline-block;
    }
}

@media (max-width: 400px) {
    #header .blockwishlist_top{
        height: 90px;
        width: 55px;
    }
    .blockwishlist_top > a:first-child b{
        display: none;
    }
}
#mywishlist .form-control{
    width: auto;
    width: 50%;    
}