/**
 * NOTICE OF LICENSE
 *
 * This file is licenced under the Software License Agreement.
 * With the purchase or the installation of the software in your application
 * you accept the licence agreement.
 *
 * Orbitvu PHP  Orbitvu eCommerce administration
 *
 *  @author    Orbitvu Sp. z o.o <dev@orbitvu.com>
 *  @copyright Orbitvu Sp. z o.o. is the owner of full rights to this code
 *  @license   license.pdf
 */

.orbitvu-ajax-loader {
    background: url('../../img/admin/ajax-loader.gif') no-repeat;
    width: 43px;
    height: 11px;
    display: inline-block;
    margin: 5px 10px 5px 10px;
}

.orbitvu-ajax-blocker, .orbitvu-ajax-blocker-permanent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.6;
    z-index: 489;
}

.orbitvu-ajax-blocker-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.orbitvu-ajax-blocker-loader .orbitvu-ajax-loader {
    margin: 0;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    z-index: 490;
}

.orbitvu-ajax-blocker-loader .orbitvu-ajax-text {
    text-align: center;
    position: absolute;
    top: 10px;
}

.orbitvu-hidden {
    display: none !important;
}
/******************************/
/********** BUTTONS ***********/
/******************************/
.orbitvu-button {
    color: #fff !important;
    border: 1px solid #1b7aa6;
    border-radius: 5px;
    padding: 5px 7px 5px 7px;
    font-size: 12px;
    font-style: normal !important;
    background: #1191A6 !important;
    margin-bottom: 10px;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
}

.orbitvu-button:hover {
    color: #fff;
    background: #8dd5e0 !important;
    cursor: auto;
    text-decoration: none !important;
}

.orbitvu-button span.orbitvu-button-icon {
    background: url('../../img/admin/white.png') no-repeat -64px -108px;
    width: 16px;
    height:16px;
    float: left;
    display: block;
    margin: 0px 5px 0px 0px;
}

.orbitvu-button-no-margin {
    margin: 0;
}

.orbitvu-button-5-margin-bottom {
    margin-bottom: 5px;
}

.orbitvu-button-red {
    border: 1px solid #ca113f;
    background: #ca4759 !important;
}

.orbitvu-button-red:hover {
    background: #d0a5a4 !important;
}

/* Disabled buttons */
.orbitvu-button:disabled, .orbitvu-button:disabled:hover {
    background: #1191A6 !important;
    opacity: 0.4;
}

.orbitvu-button-red:disabled, .orbitvu-button-red:disabled:hover {
    background-color: #ca4759;
}

/* Specific buttons */
.orbitvu-button span.orbitvu-button-icon-link {
    background-position: 0px -108px !important;
}

.orbitvu-button span.orbitvu-button-icon-unlink {
    background-position: -16px -108px !important;
}

.orbitvu-button span.orbitvu-button-icon-sku {
    background-position: -32px -108px !important;
}

.orbitvu-button span.orbitvu-button-icon-sync {
    background-position: -64px -108px !important;
}

.orbitvu-button span.orbitvu-button-icon-delete {
    background-position: -64px -92px !important;
    margin: 0 !important;
}
/******************************/
/********* HEADERS ************/
/******************************/
#ovtoolbar h2.orbitvu-header-2 {
    color: #22B3A7;
    background: #E5E8E7;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #DCDCDC;
    margin: 0 0 10px 0;
    padding: 8px 12px;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
}

/******************************/
/********** ALERTS ************/
/******************************/
.orbitvu-alert {
    border-radius: 5px;
    padding: 7px 10px;
    margin-bottom: 10px;
}

.orbitvu-alert span.orbitvu-new-version {
    font-weight: bold;
    font-style: italic;
}
.orbitvu-alert span.orbitvu-new-version a {
    text-decoration: none;
    font-style: normal;
}

.orbitvu-alert-margin-top {
    margin-top: 10px;
}
.orbitvu-alert-info {
    border: 1px solid #81CFE6;
    color: #62a6bd;
    background: #F8FCFE;
}

.orbitvu-alert-danger {
    border: 1px solid #E17875;
    color: #bd5f5f;
    background: #F2DEDE;
}

.orbitvu-alert-success {
    border: 1px solid #90CB5C;
    color: #66974c;
    background: #DFF0D8;
}
.orbitvu-messages-dynamic {
    /*font-weight: bold;
    font-size: 14px;*/
}

.orbitvu-alert-no-margin-bottom {
    margin-bottom: 0;
}

/******************************/
/********** UPLOAD ************/
/******************************/
.orbitvu-presentation-upload-container {
    margin-bottom: 20px;
}
.orbitvu-upload-top,
.orbitvu-upload-bottom {
    clear: both;
    overflow: hidden;
    border-bottom: 1px dashed #ccc;
}
.orbitvu-upload-bottom {
    padding-top: 10px;
}
.orbitvu-upload-left,
.orbitvu-upload-right {
    float: left;
    width: 25%;
    padding: 0 10px 10px 4px;
    vertical-align: middle;
    box-sizing: border-box;
}
.orbitvu-upload-right {
    width: 75%;
    padding-left: 10px;
}
span.orbitvu-remote-url-text {
    display: block;
}
span.orbitvu-remote-url {
    font-weight: bold;
    word-break: break-all;
}
.orbitvu-upload-files-container {
    margin-top: -5px;
    margin-bottom: 5px;
}
.orbitvu-upload-files-container .orbitvu-upload-file {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    background-color: white;
    border: 2px solid #1CA0B3;
    border-radius: 5px;
    position: relative;
}

.orbitvu-upload-files-container .orbitvu-upload-file .orbitvu-upload-progress {
    background-color: #22B3A7;
    width: 0px;
    height: 10px;
    transition: .25s ease-out;
    border-radius: 3px;
    margin-top: 5px;
}
.orbitvu-upload-files-container .orbitvu-upload-file .orbitvu-upload-title {
    box-sizing: border-box;
    text-align: center;
    font-size: 11px;
    padding-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.orbitvu-upload-files-container .orbitvu-upload-file .orbitvu-upload-progress-percentage {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}
.orbitvu-upload-files-container .orbitvu-upload-file .orbitvu-upload-install,
.orbitvu-upload-files-container .orbitvu-upload-file .orbitvu-upload-error,
.orbitvu-upload-files-container .orbitvu-upload-file .orbitvu-upload-success {
    text-align: center;
    font-size: 11px;
}
.orbitvu-upload-files-container .orbitvu-upload-file .orbitvu-upload-error {
    color: #ca4759;
}
.orbitvu-upload-files-container .orbitvu-upload-file .orbitvu-upload-success {
    color: #66974c;
}
.orbitvu-upload-files-container .orbitvu-upload-file .orbitvu-ajax-loader {
    margin: 10px auto 0 auto;
    display: block;
}

/******************************/
/*********** PAGER ************/
/******************************/
.orbitvu-pager {
    overflow: hidden;
    border-bottom: 1px dashed #ccc;
    border-top: 1px dashed #ccc;
    padding-bottom: 10px;
    position: relative;
}
.orbitvu-pager-section {
    float: left;
    margin-right: 10px;
    border-right: 1px solid #ccc;
    padding-right: 10px;
    min-height: 30px;
    margin-top: 10px;
}
.orbitvu-pager-section span {
    display: inline-block;
    padding: 2px 4px 2px 4px;
    color: #555555;
    vertical-align: middle;
}
.orbitvu-pager-section select.orbitvu-pager-section-select,
.orbitvu-pager-section input[type="text"].orbitvu-pager-section-input {
    float: none;
    font-size: 12px !important;
    height: auto !important;
    width: auto !important;
    display: inline-block;
}
.orbitvu-pager-section span.orbitvu-pager-section-arrow {
    border: 1px solid #ccc;
    padding-right: 6px;
    padding-left: 6px;
    cursor: pointer;
}
.orbitvu-pager-section span.orbitvu-pager-section-arrow:hover {
    background-color: #c3c4c5;
    color: #fff;
}
.orbitvu-pager-section span.orbitvu-pager-section-arrow-disabled {
    opacity: 0.4;
    cursor: default;
}
.orbitvu-pager-section span.orbitvu-pager-section-arrow-disabled:hover {
    background-color: inherit;
    color: #555555;
}

/******************************/
/**** ORBITVU PRESENTATION ****/
/******************************/
.orbitvu-presentation-list {
    overflow: hidden;
}

.orbitvu-presentation-list .orbitvu-presentation {
    box-sizing: border-box;
    width: 180px;
    height: 211px;
    float: left;
    border: 2px solid #22b3a7;
    margin: 10px;
    border-radius: 4px;
    position: relative;
}

.orbitvu-presentation-list .orbitvu-presentation-title,
.orbitvu-presentation-list .orbitvu-presentation-sku {
    width: 176px;
    box-sizing: border-box;
    text-align: center;
    padding: 2px 5px 2px 5px;
    font-size: 11px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.orbitvu-presentation-list .orbitvu-presentation-title {
    background: #22B3A7;
    color: #fff;
}

.orbitvu-presentation-list .orbitvu-presentation-sku {
    font-weight: bold;
}
.orbitvu-presentation-list .orbitvu-presentation-sku-header {
    font-weight: normal;
}

.orbitvu-presentation-list .orbitvu-presentation-image {
    position: relative;
    text-align: center;
    overflow: hidden;
    min-height: 90px;
}

.orbitvu-presentation-list .orbitvu-presentation-image img {
    display: inline-block;
    max-width: 90px;
    max-height: 90px;
}
.orbitvu-presentation-list .orbitvu-presentation-image img.orbitvu-deletion {
    opacity: 0.05;
}
.orbitvu-presentation-list .orbitvu-presentation-image .orbitvu-delete-ask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5px;
    box-sizing: border-box;
    font-size: 11px;
    color: #ca4759;
    padding: 10px;
    font-weight: bold;
}

.orbitvu-presentation-list .orbitvu-presentation-image .orbitvu-delete-ask-buttons {
    margin-top: 10px;
}
.orbitvu-presentation-list .orbitvu-presentation-image .orbitvu-delete-ask-buttons button {
    margin: 0 10px 0 10px;
}

.orbitvu-presentation-list .orbitvu-presentation-buttons {
    overflow: hidden;
    text-align: center;
}
.orbitvu-presentation-list .orbitvu-presentation-link,
.orbitvu-presentation-list .orbitvu-presentation-icons {
    text-align: center;
}
.orbitvu-presentation-list .orbitvu-presentation-delete {
    float: left;
    margin: 5px 0 0 10px;
}
.orbitvu-presentation-list .orbitvu-presentation-link {
    float: right;
    margin: 5px 10px 0 0;
}
/*.orbitvu-presentation-list .orbitvu-presentation-link,
.orbitvu-presentation-list .orbitvu-presentation-delete {
    margin: 10px 15px 0 15px;
    display: inline-block;
}*/

.orbitvu-presentation-icons span {
    background: #fff url('../../img/admin/blue.png') no-repeat 0px 0px;
    width: 16px;
    height:16px;
    display: inline-block;
    margin-top: 5px;
}

.orbitvu-presentation-icons span.orbitvu-presentation-ov2d {
    background-position: -16px -92px;
}
.orbitvu-presentation-icons span.orbitvu-presentation-ov360 {
    background-position: -80px -108px;
}
.orbitvu-presentation-icons span.orbitvu-presentation-ovtour {
    background-position: 0 -92px;
}
.orbitvu-presentation-icons span.orbitvu-presentation-ovvideo {
    background-position: -48px -92px;
}

.orbitvu-presentation-list .orbitvu-presentation-corrupted {
    text-align: center;
    font-size: 11px;
}
.orbitvu-presentation-list .orbitvu-presentation-corrupted p {
    line-height: 14px;
}

.orbitvu-presentation-list .orbitvu-presentation-corrupted p.orbitvu-presentation-corrupted-info {
    margin: 0;
    font-weight: bold;
    color: #bd5f5f;
}
.orbitvu-presentation-list .orbitvu-presentation-corrupted p.orbitvu-presentation-corrupted-info-instruction {
    font-style: italic;
    margin: 5px 0;
}
/*************************************/
/**** ORBITVU PRESENTATION LINKED ****/
/*************************************/

.orbitvu-presentation-linked-list-container {
    margin-bottom: 20px;
}
.orbitvu-presentation-linked-items-header {
    font-size: 12px;
    margin: 10px 10px 0px 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.orbitvu-presentation-linked {
    position: relative;
}
.orbitvu-presentation-linked-list .orbitvu-presentation-linked {
    box-sizing: border-box;
    border: 2px solid #22b3a7;
    margin: 10px;
    border-radius: 4px;
    overflow: hidden;
}

.orbitvu-presentation-linked .orbitvu-presentation-linked-title,
.orbitvu-presentation-linked .orbitvu-presentation-linked-sku {
    box-sizing: border-box;
    text-align: center;
    padding: 2px 5px 2px 5px;
    font-size: 11px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.orbitvu-presentation-linked .orbitvu-presentation-linked-title {
    background: #22B3A7;
    color: #fff;
}

.orbitvu-presentation-linked .orbitvu-presentation-linked-sku {
    font-weight: bold;
}
.orbitvu-presentation-linked .orbitvu-presentation-linked-sku-header {
    font-weight: normal;
}

.orbitvu-presentation-linked .orbitvu-presentation-linked-left {
    float: left;
}

.orbitvu-presentation-linked .orbitvu-presentation-linked-left .orbitvu-presentation-linked-image {
    padding: 10px;
}
.orbitvu-presentation-linked .orbitvu-presentation-linked-left .orbitvu-presentation-linked-image img {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.orbitvu-presentation-linked .orbitvu-presentation-linked-right {
    float: left;
}

.orbitvu-presentation-linked-right-buttons {
    padding: 10px;
}

.orbitvu-presentation-linked .orbitvu-presentation-linked-bottom {
    clear: both;
}

.orbitvu-presentation-linked .orbitvu-presentation-linked-items {
    padding: 5px;
    overflow: hidden;
    position: relative;
}

.orbitvu-presentation-linked-items .orbitvu-presentation-linked-item-container {
    float: left;
    text-align: left;
    border: 2px solid #1CA0B3;
    border-radius: 5px;
    margin: 5px;
    width: 136px;
    height: 130px;
    box-sizing: border-box;
    position: relative;
}

.orbitvu-presentation-linked-items .orbitvu-presentation-linked-item-container-deactivated {
    border-color: #ccc;
}

.orbitvu-presentation-linked-items .orbitvu-presentation-linked-item-container-deactivated img {
    opacity: 0.5;
}

.orbitvu-presentation-linked-items .orbitvu-presentation-linked-item-container-activated-blink,
.orbitvu-presentation-linked-items .orbitvu-presentation-linked-item-container-deactivated-blink {
    margin: 0;
    position: absolute;
    /*top: 50%; left: 50%;
    transform: translate(-50%,-50%);*/
    z-index: 490;
    color: #66974c;
    background: #DFF0D8;
    width: 100%;
    height: 100%;
    text-align: center;
}

.orbitvu-presentation-linked-items .orbitvu-presentation-linked-item-container-deactivated-blink {
    color: #bd5f5f;
    background: #F2DEDE;
}

.orbitvu-presentation-linked-items .orbitvu-presentation-linked-item-container-activated-blink .orbitvu-table-container,
.orbitvu-presentation-linked-items .orbitvu-presentation-linked-item-container-deactivated-blink .orbitvu-table-container {
    height: 100%;
    width: 100%;
    display: table;
}

.orbitvu-presentation-linked-items .orbitvu-presentation-linked-item-container-activated-blink .orbitvu-table-container span,
.orbitvu-presentation-linked-items .orbitvu-presentation-linked-item-container-deactivated-blink .orbitvu-table-container span{
    vertical-align: middle;
    height: 100%;
    display: table-cell;
    font-weight: bold;
    font-size: 14px;
}

.orbitvu-presentation-linked-items .orbitvu-presentation-linked-item.orbitvu-draggable {
    box-shadow: 0 0 8px #000000;
    cursor: move;
    position: absolute;
    background: #fff;
    width: 132px;
    height: 126px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 490;
}

.orbitvu-presentation-linked-items .orbitvu-presentation-linked-item img {
    border: 1px dashed #ccc;
    border-radius: 5px;
    padding: 5px;
    float: left;
    margin: 10px 10px 0 10px;
}

.orbitvu-presentation-linked-items .orbitvu-presentation-linked-item .orbitvu-presentation-icons {
    text-align: left;
    clear: both;
    padding: 5px 10px 5px 10px;
}

/*Linked presentation action icons*/
.orbitvu-presentation-linked-item-actions {
    float: left;
    overflow: hidden;
    margin: 10px 10px 0 0;
}
.orbitvu-presentation-linked-item-actions span {
    background: url('../../img/admin/blue.png') no-repeat -64px -108px;
    width: 22px;
    height: 22px;
    margin-bottom: 5px;
    display: block;
    opacity: 0.6;
}

.orbitvu-presentation-linked-item-actions span:hover {
    opacity: 1;
}

.orbitvu-presentation-linked-item-actions span.orbitvu-presentation-actions-activate {
    background-position: 0 -54px;
}

.orbitvu-presentation-linked-item-actions span.orbitvu-presentation-actions-deactivate {
    background-position: -22px -54px;
}

.orbitvu-presentation-linked-item-actions span.orbitvu-presentation-actions-move {
    background-position: -22px -124px;
}

.orbitvu-presentation-linked-item-actions span.orbitvu-presentation-actions-copy {
    background-position: 0 -124px;
}

/*************************************/
/********* ADMIN SETTINGS PAGE *******/
/*************************************/
a.orbitvu-generate-key {
    cursor: pointer;
}

.orbitvu-migrate-progress {
    width: 100%;
    height: 24px;
    transition: .25s ease-out;
    border-radius: 3px;
    margin-top: 5px;
    position: relative;
    border: 1px solid #ccc;
}
.orbitvu-migrate-progress-title {
    width: 50px;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: 2px;
    color: #ccc;
    font-weight: bold;
}
.orbitvu-migrate-progress-title.orbitvu-white {
    color: #fff;
}
.orbitvu-migrate-progress-bar {
    box-sizing: border-box;
    width: 0%;
    height: 100%;
    background-color: #22B3A7;
    transition: .25s ease-out;
    border-radius: 3px;
}


