div#attributes {
}

#awp_container {
    clear: both;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 9999;
    width: 100%;
    background: rgba(0,0,0,.45);
    overflow: hidden;
}
#awp_container >div {
	background: transparent;
	width: 100%;
	max-height: 90%;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	overflow: hidden;
}

#awp_attribute_groups {
    list-style: none;
}

#awp_attribute_groups li {
    display: block;
    padding: 20px 10px;
    margin-bottom: 3px;
    background-color: #efefef;
}

#awp_attribute_groups li img.handle {
    margin-right: 20px;
    cursor: move;
}

.awp_box
{
    background: transparent;
    /*margin:0 0 10px 0;*/
    width: 100%;
}
.xtop, .xbottom {
    display: none;
    background: transparent;
    font-size: 1px;
}
.xb1, .xb2, .xb3, .xb4 {
    display: block;
    overflow: hidden;
}
.xb1, .xb2, .xb3 {
    height: 1px;
}
.xb2, .xb3, .xb4 {
    background: #eeeeee;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}
.xb1 {
    margin: 0 5px;
    background: #d9d9d9;
}
.xb2 {
    margin: 0 3px;
    border-width: 0 2px;
}
.xb3 {
    margin: 0 2px;
}
.xb4 {
    height: 2px;
    margin: 0 1px;
}
.xbtop {
    background-color: #f3f3f3
}
.xbbot {
    background-color: #ffffff
}

.awp_header {
    display: none;
    background: #f3f3f3;
    border: 0 solid #d9d9d9;
    border-width: 0 1px;
    padding: 0px 10px 5px 10px;
    font-weight: bold;
    font-size: 13px;
    overflow: auto;
}

.awp_description {
    font-weight: normal;
    font-size: 11px;
}

#awp_wizard .awp_content {
    display: block;
    background: #ffffff;
    padding: 10px 10px 5px 10px;
    overflow: auto;
    width: 100%;
    text-align: center;
    max-height: 100%;
}
#awp_container form .awp_content {
    display: none;
}
.awp_content > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.awp_content >  h3{
    font-size: 24px;
    color: #000;
    font-weight: bold;
}
.awp_content >  p{
    font-size: 14px;
    color: #666666;
    font-weight: normal;
}

.awp_content .rozmiary {
    width: 950px;
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.awp_content .rozmiary h4 {
    width: 100%;
    /*margin: 30px 0;    */

}

.awp_content .rozmiary .jak {
    width: 450px;
    float: left;
    margin-right: 100px;
}

.awp_content .rozmiary .jak img{
    display: block;
    max-width: 100%;
    height: auto;
}

.awp_content .rozmiary .opcje{
    width: 400px;
    float: right;
    margin: 0 auto;
}

.awp_content .rozmiary .opcje .awp_cell_cont {
    position: relative;
    width: 27.5%;
    height: auto;
    line-height: 30px;
    padding: 2px;
    background: #F0F0F0;
    display: inline-block;
    margin-top: 4px;
}


/* block top languages */
#awp_languages_block_top {
    margin: 0.4em 0.1em 0 0;
    float: left;
}
#awp_languages_block_top p {
    clear: left;
}
#awp_languages_block_top ul#awp_first-languages {
    float: left;
    height: 1.5em;
    width: 100%;
}
#awp_languages_block_top ul#awp_first-languages li {
    float: left;
    margin-right: 0.3em;
}

#awp_languages_block_top ul#awp_first-languages li.selected_language {
    float: left;
    margin-right: 0.3em;
}

.awp_group_image {
    border: 1px solid #fff;
    vertical-align: middle;
    margin: auto;
	height: 150px;
	width: 150px;
	display: inline-flex;
}
.awp_group_image img {
    vertical-align: middle;
    max-height: 90px;
    margin: auto;
}
.awp_group_image img:hover {
    cursor: pointer;
}
.awp_image_sel
{
    border: 2px solid #7DC090;
}
.awp_image_nosel
{
    border: 2px solid transparent;
}
.awp_oos {
    display: none;
}

.awp_clear {
    clear: left;
}
.awp_none {
    display: none;
}
.awp_left {
    float: left;
}
.awp_clean {
    border: none;
    margin: 0;
    padding: 0
}
.awp_cell_cont{
    /*float: left;*/
  
}
.awp_cell_cont > div{
    margin: 0 6px 10px 0;
    width: 150px;  
}
.rozmiary .awp_cell_cont > div{
    margin: initial;
    width: auto;  
}
.awp_rrla
{
    float: left;
    margin-left: 4px;
}
.awp_rrca
{
    width: 12px;
    height: 12px;
    margin: auto;
    margin-bottom: 4px;
    clear: both;
}
.awp_nila
{
    float: left;
    text-align: center;
}
.awp_nica
{
    text-align: center;
    clear: left;
}
.awp_sel_conth
{
    float: left;
    margin-left: 6px;
}
.awp_sel_contv
{
    margin-top: 6px;
}
.awp_tbla
{
    float: left;
    text-align: center;
    margin-left: 6px;
}
.awp_tbca
{
    text-align: center;
    clear: left;
    margin-bottom: 4px;
}
.awp_tbca:hover
{
    font-weight: 800;
    cursor: pointer;
}
.awp_red
{
    color: red;
}
.awp_pop_close
{
    position: relative;
}
.awp_qty_box
{
    width: 30px !important;
}
.awp_quantity_cell
{
    margin: 0 4px 0 4px;
}
.awp_stock_container
{
    margin-left: auto;
    margin-right: auto;
    float: left;
    clear: both;
    overflow: none;
}
.awp_sct
{
    float: none;
    max-width: 500px;
    margin: 0 auto 10px auto;
}
.awp_stock
{
    float: left;
    line-height: 30px;
}
.awp_stock_btn
{
    float: left;
    margin-left: 10px;
    line-height: 30px;
}
#awp_in_stock_second
{
    clear: both;
    margin: auto;
    text-align: center;
}
#awp_in_stock
{
    clear: both;
    margin: auto;
    text-align: center;
}
#awp_second_price
{
    line-height: 30px !important;
}
#awp_price
{
    line-height: 30px !important;
}
.awp_group_image_container
{
    float: left;
    clear: both;
    margin-right: 6px;
}
.awp_box_inner
{
    float: right;
    clear: right;
}
.awp_gi
{
    margin-right: 10px;
}

.awp_layered_images img
{
    background: none!important;
}

.awp_checkbox_group
{
    width: 16px;
    margin-left: auto;
    margin-right: auto;
}


#awp_container div.disabled  div{
    cursor: not-allowed;
}
.awp_content .rozmiary .opcje .awp_cell_cont.rozmiary_wybor.choosed {
    font-weight: 800;
    color: #fff;
    background: #7DC090;
}
.rozmiary_wybor .awp_nica .awp_tbca:nth-child(2){
    display: none;
}

#div_show_szer_niestand {
    margin-top: 30px;
}
#div_val_szer_niestand .flex-center{
    margin: 0 -15px;
    text-align: left;
}
#div_val_szer_niestand .flex-center > div:nth-of-type(2){
    padding-left: 0;
    margin-left: -10px;
}
#div_val_szer_niestand .flex-center .form-control{
    margin-bottom: 0;
}
#close_awp_container{
    top: 10px;
    right: 20px;
    width: 28px;
    height: 28px;
    background: none;
    font-size: 28px;
    line-height: 28px;
    color: #7dc090;
    text-align: center;
    background: white;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
#close_awp_container:hover{
    color: #515151;
}
#close_awp_container::after {
    content: "\f057";
    font-family: "FontAwesome";
}

@media (min-width:768px) and (max-width:991px){
    .awp_content .rozmiary {
        width: 700px;
    }
    .awp_content .rozmiary .jak {
        width: 400px;
        float: left;
    }
    .awp_content .rozmiary .opcje {
        width: 200px;

    }
}
@media (max-width:767px){
    .awp_content .rozmiary {
        width: 100%;

    }
    .awp_content .rozmiary .jak {
        display: none;
    }
    .awp_content .rozmiary .opcje {
        width: auto;
        float: none;
    }

}