#block_top_menu {
    position: relative;
}
#block_top_menu:before{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background: #252b53;
    left: -50%; 
    content: " ";
    z-index: -1;    
}
#block_top_menu:after{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background: #252b53; 
    right: -50%;
    content: " ";
    z-index: -1;    
}
/*** ESSENTIAL STYLES ***/
.sf-contener {
    clear: both;
    width: 100%; }

.sf-menu,
.sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none; }

.sf-menu {
    position: relative;
    padding: 0 0 0 5px;
    width: 100%;
    background: #252b53; }

.sf-menu ul {
    position: absolute;
    top: -999em;
    background: #fff; }

.sf-menu ul li {
    width: 100%; }

.sf-menu li:hover {

    /* fixes IE7 'sticky bug' */ }

.sf-menu > li {
    position: relative;
    float: left; }

.sf-menu > li.sfHover > a,
.sf-menu > li > a:hover, .sf-menu > li.sfHoverForce > a {
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
    background: #515575;}

.sf-menu li li li a {
    text-transform: uppercase;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
    color: #333;
    padding: 15px 0;
    display: inline-block; }
.sf-menu li li li img {
    display: initial;
    /*width:150%;*/
    margin-top:-40px;
    margin-left:169px;
}
.description {
    margin-bottom:10px;
    font-size: 10px;
    width:330%;
    /* line-height: 10px;*/
    /*height: 60px;*/
    overflow: hidden;
    font-weight: bold;

} 
.sf-menu li li li:hover .description {
    /*font-weight:bold;	*/

}   
.sf-menu li li li {
    margin-left:15px;
	border-bottom: 1px solid #ddd;
}
@media (min-width: 768px){
	.sf-menu li li li{
		width: -moz-calc(100% - 30px);
		width: -webkit-calc(100% - 30px);
		width: calc(100% - 30px);
	}
}

.sf-menu li li li:nth-of-type(5n) {


}
/*    
.sf-menu li li li a:before {
    content: "\f105";
    display: inline-block;
    font-family: "FontAwesome";
    padding-right: 10px; }
*/    
.sf-menu li li li:hover a {
    font-weight: 600;
}

.sf-menu li ul {
    display: none;
    left: 0;
    top: 50px;
    /* match top ul list item height */
    z-index: 99;
    -moz-box-shadow: none;;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-left: 1px solid #666666;
}


.sf-menu li li ul {
    position: absolute;
    width: 35%;
    min-height: 100%;
    margin:0;
    padding: 15px 0 15px 0;
    left:400px;
    top:0; }

.sf-menu li li li ul {
    padding: 0 0 0 20px; }

.sf-menu li li li ul {
    width: 300px; }

ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {

}

ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
    top: -999em; }

ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
    /*left: 200px;
    /* match ul width */
    top: 0; }

.sf-menu > li > ul {
    padding:15px 0 25px 0; }
.sf-menu > li > ul > li > a {
    text-transform: uppercase;
    color: #333;
    padding: 15px 0;
    display: inline-block;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.sf-menu > li > ul > li.sfHover > a,
.sf-menu > li > ul > li > a:hover {
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
    font-weight: 600;
    color: #515151; }

.sf-menu > li > ul > li {
    padding: 0 15px;
    width: 400px;
    display: flex;
    align-items: center; }
.sf-menu > li:first-child > ul > li{
	width: 350px;
}
.sf-menu li:first-child li ul{
	left: 350px;
}
.sf-menu > li > ul > li.sfHover {
    margin-right: 0px;
}

.cat-title {
    display: none; }



.sf-menu li.sf-search {
    border: none; }
.sf-menu li.sf-search input {
    display: inline;
    padding: 0 13px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    margin: 13px 10px 0 0;
    font-size: 13px;
    color: #9c9b9b;
    border: 1px solid #d6d4d4; }
.sf-menu .col-md-4 li li li{
    width:33%;
}
.sf-menu .col-md-5{
    width:100%;
}

#block_top_menu .category-thumbnail {
    clear: both;
	width: 90px;
	float: right;
	margin-left: auto;
	height: 40px;
	text-align: center;
}
#block_top_menu .category-thumbnail img{
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}
.subcategory-thumbnail{
	position: absolute;
	background: #fff;
	width: 400px;
	height: 100%;
	left: 100%;
	top: 0;
	text-align: center;
	overflow: hidden;
}
.subcategory-thumbnail img{
	max-width: 100%;
	height: auto;
	margin: 0 auto !important;
	padding: 0 30px 0 0;
}
.subcategory-thumbnail .desc{
	margin: 30px 30px 0 30px;
	font-weight: 600;
	color: #515151;
	padding: 15px 15px 30px 15px;
	text-align: left;
	border-top: 1px solid #f1f1f1;
}
.submenu-container > li > ul > li .subcategory-thumbnail{
	display: none;
}
.submenu-container > li > ul > li:hover .subcategory-thumbnail,
.submenu-container > li > ul > li:first-child .subcategory-thumbnail{
	display: block;
}
.sf-menu > li > ul > li ul{
	background: #f1f1f1;
	border: none;
	width: 300px;
}
@media (max-width: 1199px){
	.subcategory-thumbnail{
		width: 280px;
	}
}
@media (max-width: 991px){
	.subcategory-thumbnail{
		display: none !important;
	}
}
.sf-menu > li > ul > li{
	border-bottom: 1px solid #f1f1f1
}
/*# sourceMappingURL=superfish-modified.css.map */



@media (min-width: 770px){
    .sf-menu > li > a {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        display: block;
        padding: 16px 14px;}
    #block_top_menu .show-cat-thumbnail{
        cursor: pointer;
    }
    .sf-menu > li > ul > li.first-in-line-lg {
        clear: left; } }

@media (max-width: 769px){
    .sf-menu > li > a {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        display: block;
        padding: 16px 14px;}
}



@media (max-width: 767px) {
    .sf-menu li li li .col-xs-12 {
        clear: both;
    }

    .sf-menu li li li img {
        display: initial;
        width: 40%;
        margin-top: -40px;
        float: right;
    }    

    .sf-menu {
        display: none; } 
    
    .description {
        margin-bottom: 10px;
        font-size: 10px;
        overflow: hidden;
        font-weight: bold;
        clear: both;
        width: auto;
    }  
    
    .sf-menu > li .description span{
        position: static;
        width: auto;
        height: auto;
        z-index: auto;
        right: auto;
        top:auto;
    }
    .sf-menu > li > ul {
        width: calc(100% - 5px);
        width: -moz-calc(100% - 5px);
        width: -webkit-calc(100% - 5px);
        padding: 25px;
		background: none;
    }
	.sf-menu > li > ul li{
		width: 100%;
		border-color: #fff;
	}
	.sf-menu > li > ul li a{
		color: #fff;
		display: block;
		float: none;
		width: 100%;
	}
	#block_top_menu .category-thumbnail{
		display: none;
	}
}

@media (max-width: 767px) {
    .sf-menu ul {
        position: relative; } }
@media (max-width: 767px) {
    .sf-menu > li {
        float: none;
        position: relative;
        border-right: none; }
    .sf-menu > li span {
        position: absolute;
        right: 6px;
        top: 20px;
        width: 30px;
        height: 30px;
        z-index: 2; }
    .sf-menu > li span:after {
        font-family: "FontAwesome";
        content: "\f067";
        font-size: 26px;
        color: #fff; }
    .sf-menu > li span.active:after {
        content: "\f068"; } }

@media (max-width: 767px) {
    .sf-menu li ul {
        top: 0; } }

@media (max-width: 767px) {
    .cat-title {
        display: block;
        font: 600 18px/22px "Open Sans", sans-serif;
        text-transform: uppercase;
        color: #fff;
        display: block;
        padding: 17px 20px;

        background: #252b53;
        position: relative; }
    .cat-title:hover {
        background: #252b53;
        color: #fff; }
    .cat-title:after {
        display: block;
        font-family: "FontAwesome";
        content: "\f067";
        position: absolute;
        right: 15px;
        top: 18px;
        font-size: 26px; }
    .cat-title.active:after {
        content: "\f068"; } }
@media(max-width:767px){
    #block_top_menu{
        position: relative;
        margin: 0 10px;
    }

    #block_top_menu:after, #block_top_menu:before{
        content: none;
    }	


}  
@media(min-width: 600px) and (max-width:767px){
    .sf-menu li li li {
        width: calc(50% - 30px);
        width: -moz-calc(50% - 30px);
        width: -webkit-calc(50% - 30px);
        margin: 0 15px;
        height: 110px;
    }
}
@media (max-width: 599px) {

    .sf-menu li li li {
        width: 100%;
        margin: 0;
    }
}
@media (max-width: 479px) {
    .sf-menu > li > ul > li {
        width: 100%;
        padding-bottom: 20px; } }



@media (max-width: 479px) {
    .sf-menu > li > ul > li.category-thumbnail > div {
        width: 100%;
        padding-left: 0;
        padding-top: 10px;
        text-align: center; } }

@media (min-width: 480px) and (max-width: 767px) {
    .sf-menu > li > ul > li.first-in-line-xs {
        clear: left; } }
