header{
    text-align: center;
    overflow: hidden;
}
.product-listing{
    /*max-width: 768px;*/
    padding: 60px;
    margin:auto;
}
.product-listing h1{
    font-size: 48px;
    font-weight: 100;
    color: #252b53;
    margin-top: 64px;
}
.product-listing h2{
    font-size: 16px;
    font-weight: 400;
    color: #252b53;
    margin: 0;
    padding: 0;
    text-align: right;    
}
.product-listing h3{
    font-size: 12px;
    font-weight: 400;
    color: #252b53;
    margin: 0;
    padding: 0; 
}
.product-listing h3 div{
    display: inline-block;}
.product-listing h3 div:not(::first-line){
    padding: 0 5px;
}
.product-listing p.green{
    font-size: 20px;
    font-weight: 700;
    color: #7dc090;
    border-bottom: 1px solid #bfbfbf;
    padding: 16px 0;
}
.product-listing label{
    font-size: 14px;
    font-weight: 400;
    color: #252b53;
    padding: 5px 10px 0 0;
}
.product-listing select{
    width: 100%;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
}
.product-listing .form-group{
    display: flex;    
}

.product-listing li{
    padding-top: 15px;
}
.product-listing li div{
    display:inline-block;
}
.imgs img{
    max-width: 100px;
}
.imgs{
    display: flex;
    margin: 15px 0 ;
    flex-wrap: wrap;
}
.imgs span{
    max-width: 150px;
    display: inline-block;
    font-size: 14px;
}
.imgs div{
    padding: 15px;
    border:1px solid black;
}
section{
    padding: 50px;
}

.btn-primary.submit{
    background: #252b53;
    font-size: 14px;
    height: 30px;
    border: none;
}
.btn-primary.submitted-ok:after{
    font-family: 'FontAwesome'; 
    content:"\f00c";
    padding-left: 20px
}
.btn-primary.submitted-error:after{
    font-family: 'FontAwesome'; 
    content:"\f071";
    padding-left: 20px    

}

#block_top_menu_contact{
    text-align: left !important;
    padding: 0 15px !important;
}
header .row #header_logo{
    padding-left: 0 !important;
    padding-bottom: 26px;
}
#block_top_menu {
    height: 62px;
}

.pop-up-content {
    overflow: auto;
    height: 100%;
    padding: 50px;
    text-align: center;    
}
.pop-up-content h3{
    width: 100%;
}
.pop-up-content > p{
    width: 100%;
    margin-bottom: 50px;    
}
#pop-up {
    overflow: hidden;
    padding: 40px; 
    height: 100%;
    width: 100%;
}
.img-group-item {
    cursor: pointer;
    vertical-align: middle;
    padding: 15px;
    display: inline-block;
    text-align: center;    
}
.img-group-item img {
    max-height: 100px;
    max-width: 100px;
}
.img-group-item:hover {
    transform: scale(1.5);
    border: 1px solid;
    background: #fff;
}
.img-group-item:hover {
    /*border: 1px solid; */
}

.img-group-item span {
    display: block;
    max-width: 200px;

}
.img-group-item:hover span {
    z-index: 1;
    position: relative;
    background: #fff; 
}
.allegro-flex-center{
    display: flex;
    align-items: center;
}
.product-form{
    border: 1px black dashed;
    padding: 15 30px;
}

.cell{
    display: inline-block;
    margin: 15px;
}