/******************************************************************************
Home Page Slider
*******************************************************************************/
#slider_row {
	margin: 0 -15px;
}
#homepage-slider-kolekcje {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 90px;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;

	/*****************************************************************************
	BXSlider Styles
	********************************************************************************/ }
@media (max-width: 767px) {


	#homepage-slider-kolekcje {
		width: 100%;
		max-width: 100%;
		padding-top: 20px; }
}



@media(max-width:991px){


	#homepage-slider-kolekcje .homeslider-description h2 {
		font-size: 24px;
		color: #000000;
		margin: 0 0 10px 0;
		padding: 0; }
	#homepage-slider-kolekcje .homeslider-description h3 {
		line-height: 1;
		font-size: 11px;
		font-weight: bold;
		color: #000000;
		margin: 0;
		padding: 0; }
	#homepage-slider-kolekcje .homeslider-description p {
		margin: 0;
		padding: 0;
		width: 100%;
		font-size: 11px;
		line-height: 1.3em;
		color: #666666; }
	#homepage-slider-kolekcje .homeslider-description a {
		font-size: 13px;
		display: inline-block;
		background-color: #7dc090;
		color: white;
		text-transform: uppercase;
		padding: 10px 15px 10px 15px;
		margin-top: 10px;
		float: right;

	}



}

@media(min-width:992px){


	#homepage-slider-kolekcje .homeslider-description h2 {
		font-size: 32px;
		color: #000000;
		margin: 0 0 10px 0;
		padding: 0; }
	#homepage-slider-kolekcje .homeslider-description h3 {
		line-height: 1;
		font-size: 14px;
		font-weight: bold;
		color: #000000;
		margin: 0;
		padding: 0; }
	#homepage-slider-kolekcje .homeslider-description p {
		margin: 0;
		padding: 0;
		width: 50%;
		font-size: 12px;
		line-height: 1.3em;
		color: #666666; }
	#homepage-slider-kolekcje .homeslider-description a {
		font-size: 16px;
		display: inline-block;
		background-color: #7dc090;
		color: white;
		text-transform: uppercase;
		padding: 10px 15px 10px 15px;
		margin-top: 40px;

	}
	#homepage-slider-kolekcje .homeslider-description button {
		font-size: 1em;
		text-transform: uppercase; }



}


#homepage-slider-kolekcje #homeslider {
	margin: 0 auto;
	padding: 0; }
#homepage-slider-kolekcje .homeslider-container {
	position: relative; }
#homepage-slider-kolekcje .homeslider-image {
	position: absolute;
	left: 0;
	top: 0; }
#homepage-slider-kolekcje .homeslider-description {
	position: absolute;
	left: 0;
	top: 0;
	padding: 32px 40px;
	cursor: pointer;
	width: 100%;
	height: 100%;}



@media(min-width:1200px){
	#homepage-slider-kolekcje .homeslider-description h2 {
		font-size: 48px;
		color: #000000;
		margin: 0 0 10px 0;
		padding: 0; }
	#homepage-slider-kolekcje .homeslider-description h3 {
		line-height: 1;
		font-size: 18px;
		font-weight: bold;
		color: #000000;
		margin: 0;
		padding: 0; }
	#homepage-slider-kolekcje .homeslider-description p {
		margin: 0;
		padding: 0;
		width: 50%;
		font-size: 16px;
		line-height: 1.3em;
		color: #666666; }
	#homepage-slider-kolekcje .homeslider-description button {
		font-size: 1.2em;
		text-transform: uppercase; }
}


@media (max-width: 1199px) {
	#homepage-slider-kolekcje .homeslider-description {
		padding: 20px;
		font-size: 0.8em; }
}
@media (max-width: 767px) {
	#homepage-slider-kolekcje .homeslider-description {
		padding: 30px;
		font-size: 0.7em; }
}
@media (max-width: 480px) {
	#homepage-slider-kolekcje .homeslider-description {
		padding: 30px;
		font-size: 0.5em; }
	#homepage-slider-kolekcje .homeslider-description p {
		font-size: 1.7em; }
}
@media(min-width:1200px){
	#homepage-slider-kolekcje .bx-wrapper a {
		display: block; }
}
#homepage-slider-kolekcje .bx-wrapper img {
	margin: auto;
	height: auto; }
#homepage-slider-kolekcje .bx-wrapper .bx-viewport {
	width: 100%;
	direction: ltr !important; }
#homepage-slider-kolekcje .bx-wrapper .bx-pager.bx-default-pager a {
	background: #666; }
#homepage-slider-kolekcje .bx-wrapper .bx-controls-direction a {
	top: 50%;
	margin-top: 0px;
	font-size: 1em;
	bottom: 10px;
	outline: 0;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	z-index: 9999;
	line-height: 18px;
	background-color: #c2c2c2;}
#homepage-slider-kolekcje .bx-wrapper .bx-controls-direction a:before {
	height: 30px;
	width: 30px;
	display: block;
	background: #fff;
	content: ".";
	opacity: 0.14;
	text-indent: -9999px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1; }
#homepage-slider-kolekcje .bx-wrapper .bx-controls-direction a:after {
	display: block;
	width: 30px;
	height: 30px;
	color: #fff;
	text-indent: 0;
	text-align: center;
	font-size: 21px;
	font-family: "FontAwesome";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	padding: 6px 0 0 0; }
#homepage-slider-kolekcje .bx-wrapper .bx-controls-direction a:hover:before {
	background: #000;
	opacity: 0.83; }
#homepage-slider-kolekcje .bx-wrapper .bx-prev {
	left: -15px; }
#homepage-slider-kolekcje .bx-wrapper .bx-prev:after {
	content: "\f104"; }
#homepage-slider-kolekcje .bx-wrapper .bx-next:after {
	content: "\f105"; }

#homepage-slider-kolekcje .bx-wrapper .bx-next {
	right: -15px; }

.ie8 #homepage-slider-kolekcje .bx-wrapper .bx-controls-direction a:before {
	background: #333; }

@media(min-width:1200px){

	#homepage-slider-kolekcje .homeslider-description a {
		font-size: 18px;
		display: inline-block;
		background-color: #7dc090;
		color: white;
		text-transform: uppercase;
		padding: 14px 27px;
		margin-top: 20px;
	}
	#homepage-slider-kolekcje .homeslider-description a:hover {
		background-color: #97CDA6    
	}
}
@media (max-width:767px){
	#homepage-slider-kolekcje .homeslider-description h2 {
		font-size: 48px;
		color: #000000;
		margin: 0 0 10px 0;
		padding: 0; }
	#homepage-slider-kolekcje .homeslider-description h3 {
		line-height: 1;
		font-size: 18px;
		font-weight: bold;
		color: #000000;
		margin: 0;
		padding: 0; }
	#homepage-slider-kolekcje .homeslider-description p {
		margin: 0;
		padding: 0;
		width: 50%;
		font-size: 16px;
		line-height: 1.3em;
		color: #666666; }
	#homepage-slider-kolekcje .homeslider-description button {
		font-size: 1.2em;
		text-transform: uppercase; }

}
