.shop-phone
{
    float: left;
    padding: 5px 0 10px;
    line-height: 18px;
}
@media (max-width: 767px)
{
    .shop-phone
    {
        display: none;
    }
}
.shop-phone i
{
    font-size: 21px;
    line-height: 21px;
    color: #fff;
    padding-right: 7px;
}
.shop-phone strong
{
    color: #fff;
}
@media (max-width: 991px)
{
    .shop-phone.is_logged
    {
        display: none;
    }
}

#contact-link
{
    float: right;
    border-left: 1px solid #515151;
}
@media (max-width: 479px)
{
    #contact-link
    {
        text-align: center;
    }
}
#contact-link a
{
    display: block;
    color: #fff;
    font-weight: bold;
    padding: 8px 10px 11px 10px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    line-height: 18px;
}
@media (max-width: 479px)
{
    #contact-link a
    {
        font-size: 11px;
        padding-left: 5px;
        padding-right: 5px;
    }
}
#contact-link a:hover, #contact-link a.active
{
    background: #2b2b2b;
}


#contact_block h4, #newsletter_block_left h4
{
    background: none;
    color: black;
    text-transform: none;
    font-size: 46px;
    line-height: 52px;
    border: none;
}

#contact_block > div, #newsletter_block_left > div
{
    border: 1px solid #00052F;
}


@media(min-width:992px){
    #contact_block > div, #newsletter_block_left > div
    {
        padding: 40px 66px;
    }
}
#contact_block .label
{
    display: none;
}
#contact_block
{
    margin-bottom: 90px;
    margin-top: 30px;    
}
#contact_block .block_content
{
    display: block;
    color: #888888;
}
#contact_block p, #newsletter_block_left p
{
    font-size: 18px;
    font-weight: bold;
    color: black;
    display: block;
    text-align: justify;
    margin-bottom: 4px;
}
#contact_block p.tel
{
    font: 400 17px/21px Arial, Helvetica, sans-serif;
    color: #333;
    margin-bottom: 6px;
}
#contact_block p.tel i
{
    font-size: 25px;
    vertical-align: -2px;
    padding-right: 10px;
}






@media(max-width:1024px){
    #contact_block > div, #newsletter_block_left > div
    {
        padding: 40px 66px;

    }
    #contact_block > div, #newsletter_block_left > div
    {
        padding: 5px 10px;

    }
    #contact_block .label
    {
        display: none;
    }
    #contact_block .block_content
    {
        display: block;
        color: #888888;
    }
 
    #contact_block p.tel
    {
        font: 400 10px/14px Arial, Helvetica, sans-serif;
        color: #333;
        margin-bottom: 6px;
    }
    #contact_block p.tel i
    {
        font-size: 12px;
        vertical-align: -2px;
        padding-right: 10px;
    }

    #contact_block h4, #newsletter_block_left h4
    {
        background: none;
        color: black;
        text-transform: none;
        font-size: 40px;
        line-height: 52px;
        border: none;
    }
    #newsletter_block_left .formularz
    {
        background-color: #fff;
        margin-top: 19px;
        margin-bottom: 3%;
    }

}
@media(max-width:1024px){
    #contact_block > div, #newsletter_block_left > div
    {
        padding: 40px 66px;

    }
    #contact_block > div, #newsletter_block_left > div
    {
        padding: 5px 10px;

    }
    #contact_block .label
    {
        display: none;
    }
    #contact_block .block_content
    {
        display: block;
        color: #888888;
    }
    #contact_block, #newsletter_block_left
    {
        margin-bottom: 90px;
        margin-top: 30px;    
    }
    #contact_block p, #newsletter_block_left p
    {
        font-size: 12px;
        font-weight: bold;
        color: black;
        display: block;
        text-align: justify;
        margin-bottom: 4px;
    }
    #contact_block p.tel
    {
        font: 400 10px/14px Arial, Helvetica, sans-serif;
        color: #333;
        margin-bottom: 6px;
    }
    #contact_block p.tel i
    {
        font-size: 12px;
        vertical-align: -2px;
        padding-right: 10px;
    }
    #contact_block h4, #newsletter_block_left h4
    {
        background: none;
        color: black;
        text-transform: none;
        font-size: 40px;
        line-height: 52px;
        border: none;
    }
    #newsletter_block_left .formularz
    {
        background-color: #fff;
        margin-top: 19px;
        margin-bottom: 3%;
    }

    #newsletter_block_left .cms_content p
    {
        font-size: 10px;
        color: #666666;
        font-weight: 400;
        line-height: 1.4;

    }
}

@media (max-width:992px){
    #newsletter_block_left .cms_content p
    {
        margin-bottom: 16px;
    }
}
@media(max-width:769px){
    #contact_block > div, #newsletter_block_left > div
    {
        padding: 5px 10px;

    }
    #contact_block .label
    {
        display: none;
    }
    #contact_block, #newsletter_block_left
    {
        margin-bottom: 90px;
        margin-top: 30px;    
    }
    #contact_block .block_content
    {
        display: block;
        color: #888888;
    }
    #contact_block p, #newsletter_block_left p
    {
        font-size: 12px;
        font-weight: bold;
        color: black;
        display: block;
        text-align: justify;
        margin-bottom: 4px;
    }
    #contact_block p.tel
    {
        font: 400 10px/14px Arial, Helvetica, sans-serif;
        color: #333;
        margin-bottom: 6px;
    }
    #contact_block p.tel i
    {
        font-size: 10px;
        vertical-align: -2px;
        padding-right: 10px;
    }
    #contact_block h4, #newsletter_block_left h4
    {
        background: none;
        color: black;
        text-transform: none;
        font-size: 32px;
        line-height: 52px;
        border: none;
    }
    #newsletter_block_left .formularz
    {
        background-color: #fff;
        margin-top: 19px;
        margin-bottom: 3%;
    }

    #newsletter_block_left .cms_content p
    {
        font-size: 8px;
        color: #666666;
        font-weight: 400;
        line-height: 1.4;

    }
}

@media(max-width:415px){
    #contact_block > div, #newsletter_block_left > div
    {
        padding: 20px 66px;

    }
    #contact_block
    {
        width: 100%;
        float: left; 
    }
    #newsletter_block_left
    {
        width: 100%;
        float: left;   
    }
    #contact_block > div, #newsletter_block_left > div
    {
        padding: 5px 10px;

    }
    #contact_block, #newsletter_block_left
    {
        margin-bottom: 30px;
        margin-top: 30px;    
    }
    #newsletter_block_left
    {
        margin-bottom: 90px;
        margin-top: 30px;    
    }
    #contact_block .label
    {
        display: none;
    }
    #contact_block .block_content
    {
        display: block;
        color: #888888;
    }
    #contact_block p, #newsletter_block_left p
    {
        font-size: 12px;
        font-weight: bold;
        color: black;
        display: block;
        text-align: justify;
        margin-bottom: 4px;
    }
    #contact_block p.tel
    {
        font: 400 10px/14px Arial, Helvetica, sans-serif;
        color: #333;
        margin-bottom: 6px;
    }
    #contact_block p.tel i
    {
        font-size: 12px;
        vertical-align: -2px;
        padding-right: 10px;
    }
    #contact_block h4, #newsletter_block_left h4
    {
        background: none;
        color: black;
        text-transform: none;
        font-size: 40px;
        line-height: 52px;
        border: none;
    }
    #newsletter_block_left .formularz
    {
        background-color: #fff;
        margin-top: 19px;
        margin-bottom: 3%;
    }

    #newsletter_block_left .cms_content p
    {
        font-size: 10px;
        color: #666666;
        font-weight: 400;
        line-height: 1.4;

    }
}


/*# sourceMappingURL=blockcontact.css.map */




.formularz
{
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 3%;
}

.formularz input#submit,
#newsletter_block_left button
{
    background: #7dc090 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 18px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: none;
    position: relative;
    margin-left: auto;
    text-transform: uppercase;
    font-weight: bold;
    padding: 14px 27px;
}


@media(min-width:992px){
    #newsletter_block_left .cms_content p
    {
        font-family: 'Roboto Slab', serif;
        font-size: 10px;
        color: #666666;
        font-weight: 400;
        line-height: 1.4;

    }
    #newsletter_block_left .cms_content
    {
        margin-top: 40px;
    }

}
.formularz input#submit:hover,
#newsletter_block_left button:hover
{
    background: #97CDA6 none repeat scroll 0 0;
}

@media (min-width:992px) and (max-width:1199px){
    #newsletter_block_left .cms_content {
        margin-top: 30px;
        margin-bottom: 14px;
    }
}
