#home{
    float:right;


}


#home a{
    margin-top: auto;
    font-size: 14px;
    display: inline-block;
    color: #00052F;
    border: 1px solid #00052F;
    padding: 10px 15px 10px 15px;

}
#home a:hover{
    border: 2px solid #00052F;   
    font-weight: 700;
}

/*# sourceMappingURL=homefeatured.css.map */
