#compare_shipping .form-group {
    line-height: normal;
    margin-bottom: 10px; }
#compare_shipping .form-group label {
    margin-bottom: 6px; }
#compare_shipping .form-group .form-control {
    width: 263px; }
#compare_shipping .form-group.last {
    margin-bottom: 20px; }
#compare_shipping .form-group.last input {
    margin-bottom: 3px; }
#compare_shipping .table {
    background: #fff; }
#compare_shipping .table thead tr th {
    background: #fff;
    color:#000;
    font-size: 14px;
    font-weight: normal;
    border:0; }
#compare_shipping .table tbody td, #compare_shipping .table tbody td label {
    color:#666666;
    font-size: 14px;
    font-weight: normal;
    border:0;
    margin: 0; }
#compare_shipping .table tbody td.carrier_price{
    font-weight: bold;
}
#compare_shipping .table tbody td.carrier_action {
    width: 54px;
    padding-left: 0;
    padding-right: 0;
    text-align: center; }
#compare_shipping .table tbody td.carrier_action input {
    margin: 0; }

#availableCarriers .table {
    margin-bottom: 0; }

#compare_shipping ul#carriercompare_errors_list {
    color: red; }

#compare_shipping_form {
    border: 1px solid #cccccd;    
    margin-top: 30px;
    padding: 14px 34px; }

#compare_shipping ul#carriercompare_errors_list li {
    margin-left: 30px;
    text-decoration: none;
    list-style: none; }

#SE_AjaxDisplay {
    text-align: center;
    display: none; }

#SE_AjaxDisplay img {
    width: 15px; }

.SE_SubmitRefreshCard button {
    float: left; }
.SE_SubmitRefreshCard button#carriercompare_submit {
    margin-right: 10px; }

#carriercompare_errors {
    display: none; }
.SE_SubmitRefreshCard {
    display: none;
}

/*# sourceMappingURL=style.css.map */
