/*******************************************************************
Cart Block Styles
********************************************************************/
#header .shopping_cart
{
	width: 66px;
	position: relative;
	float: right;
	text-align: center; 
}
#header .shopping_cart.active
{
	background: #F4F4F4;	
}

@media (max-width: 767px)
{
	#header .shopping_cart
	{
		position: static;
		float: right;
	}
}

@media (max-width: 767px)
{
	.shopping_cart
	{
		margin: 0 auto;
		float: none;
		width: 100%;
	}
}
@media (max-width: 480px)
{
	.shopping_cart
	{
		padding-top: 20px;
	}
}
@media (max-width: 1199px)
{
	.shopping_cart
	{
		margin: 0 auto;
		float: none;
		width: 100%;
	}
}

.shopping_cart > a > span
{
	color: #fff;
	position: absolute;
	right: 12px;
	top: 0;
	border-radius: 25px;
	border: 2px solid #7DC090;
	width: 20px;
	height: 20px;
	background: #7dc090;
	line-height: 16px;
}
.shopping_cart > a:first-child{
	display: block;
	overflow: hidden;
	height: 100%;  
	position: relative;
}
@media (min-width: 768px) and (max-width: 991px)
{
	.shopping_cart > a:first-child span.ajax_cart_product_txt, .shopping_cart > a:first-child span.ajax_cart_product_txt_s
	{
		font: 600 14px/22px "Open Sans", sans-serif;
		color: #666;
		display: none !important;
	}
}
.shopping_cart > a:first-child b
{
	color: #666;
	font: 600 14px/22px "Open Sans", sans-serif;
	padding-right: 5px;
}
.shopping_cart > a:first-child:before
{
}
.shopping_cart .ajax_cart_total
{
	display: none !important;
}


.cart_block .cart_block_list .remove_link
{
	position: absolute;
	right: 10px;
	top: 36px;
}
.cart_block .cart_block_list .remove_link a,
.cart_block .cart_block_list .ajax_cart_block_remove_link
{
	color: #777;
	display: block;
	width: 100%;
	height: 100%;
}
.cart_block .cart_block_list .remove_link a:before,
.cart_block .cart_block_list .ajax_cart_block_remove_link:before
{
	display: inline-block;
	content: "\f057";
	font-family: "FontAwesome";
	font-size: 18px;
	line-height: 18px;
}
.cart_block .cart_block_list .remove_link a:hover,
.cart_block .cart_block_list .ajax_cart_block_remove_link:hover
{
	color: #515151;
}
.cart_block .cart-images
{
	position: absolute;
	border: 1px solid #fafafa;
	top: 0;
	left: 20px;
}
.cart_block .cart-info
{
	text-align: left;
	overflow: hidden;
	position: relative;
	padding-right: 20px;
}
.cart_block .cart-info .product-name
{
	line-height: 50px;
	margin: 0px 20px 0 100px;
	min-height: 60px;    
}
.cart_block .cart-info .quantity-formated, .cart_block .cart-info .product-name a
{
	color: #9c9b9b;
	text-transform: uppercase;
	font-size: 12px;
	padding-right: 5px;
	line-height: 1;
}
.cart_block .cart-info .quantity-formated .quantity
{
	font-size: 15px;
}
.cart_block dt
{
	font-weight: normal;
	overflow: hidden;
	padding: 20px 10px 16px 20px;
	position: relative;
	width: 100%;    
}
.cart_block dd
{
	position: relative;
}
.cart_block dd .cart_block_customizations
{
	border-top: 1px dashed #333;
}
.cart_block dd .cart_block_customizations li
{
	padding: 10px 20px;
}
.cart_block dd .cart_block_customizations li .deleteCustomizableProduct
{
	position: absolute;
	right: 10px;
}
.cart_block .cart_block_no_products
{
	margin: 0;
	padding: 10px 20px;
}
.cart_block .cart-prices
{
	border-top: 1px solid #d6d4d4;
	font-weight: bold;
	padding: 10px 20px 22px 20px;
}
.cart_block .cart-prices .cart-prices-line
{
	overflow: hidden;
	border-bottom: 1px solid #515151;
	padding: 7px 0;
}

.cart_block .cart-prices .cart-prices-line > div:nth-of-type(2) {
	font-size: 16px;
	color: #000;	
	float: left;	
}
.cart_block .cart-prices .cart-prices-line.last-line
{
	border: none;
}
.cart_block .cart-buttons
{
	overflow: hidden;
	padding: 20px 20px 10px 20px;
	margin: 0;
	background: #f6f6f6;
}
.cart_block .cart-buttons a
{
	width: 100%;
	float: left;
	text-align: center;
	margin-bottom: 10px;
	margin-right: 10px;
}
.cart_block .cart-buttons a#button_order_cart
{
	margin-right: 0;
	border: none;
}
.cart_block .cart-buttons a#button_order_cart span
{
	padding: 7px 0;
	font-size: 1.1em;
	border: solid 1px #7dc090;
	background: #7dc090;
}
.cart_block .cart-buttons a#button_order_cart:hover span
{
	border: solid 1px #96e5ac;
	background: #96e5ac;
	color: #fff;
}

/*******************************************************************
Cart Block(Header) Styles
********************************************************************/
#header .cart_block
{
	position: absolute;
	top: 80px;
	right: -1px;
	z-index: 100;
	display: none;
	height: auto;
	background: #F4F4F4;
	color: #555;
	width: 450px;
}
@media (max-width: 480px)
{
	#header .cart_block
	{
		width: 100%;
	}
}

#header .cart_block .product-atributes a {
    color: #000;
    width: 100%;
    text-align: left;
    display: block;
}

#header .cart_block a
{
	color: #000;
}
#header .cart_block a:hover
{
	color: #000;
}
#header .cart_block .cart_block_list .remove_link a,
#header .cart_block .cart_block_list .ajax_cart_block_remove_link
{
	color: #555;
	outline: none;
	text-decoration: none;
}
#header .cart_block .cart_block_list .remove_link a:hover,
#header .cart_block .cart_block_list .ajax_cart_block_remove_link:hover
{
	color: #555;
}
#header .cart_block .price
{
	margin-left: 5px;
	display: block;
	text-align: right;    
	color: #555;
	float: right;
	font-size: 16px;
}
#header .cart_block .price.unvisible
{
	display: none;	
}
#header .cart_block dt
{
	background:#fff;
}
#header .cart_block .product-atributes
{
	padding-bottom: 10px;
	font-size: 12px;
	float: left;
    
}

#header .cart_block .product-atributes a div:nth-child(2n) {
	width: 65%;
	display: inline-block;
	vertical-align: top;	
	color: #000;
	text-align: left;	
}
#header .cart_block .product-atributes a div:nth-child(2n-1) {
	font-weight: 700;
	width: 35%;	
	display: inline-block;
	vertical-align: top;	
	color: #000;
	text-align: right;
	padding-right: 10px;
}
#header .cart_block .cart-prices
{
	text-align: right;
	border: none;
	background: #F4F4F4;
}
#header .cart_block .cart-buttons
{
	background: #F4F4F4;
}
#header .block_content
{
	margin-bottom: 0;
}

.cart_block #cart_block_summary,
.cart_block .title_block span,
#header .cart_block h4,
#header .cart_block .title_block,
#header .cart_block h4
{
	display: none;
}

.cart_block .cart_block_shipping_cost,
.cart_block .cart_block_tax_cost,
.cart_block .cart_block_total,
.cart_block .cart_block_wrapping_cost
{
	float: right;
}

.cart_block table.vouchers
{
	clear: both;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 10px;
}
.cart_block table.vouchers tr td
{
	padding: 2px;
}
.cart_block table.vouchers tr td.quantity
{
	margin-right: 5px;
	min-width: 18px;
}
.cart_block table.vouchers tr td.delete
{
	padding-left: 0;
	padding-right: 0;
	text-align: right;
	width: 15px;
}

/*****************************************************************************
Layer Cart Css
*****************************************************************************/
.layer_cart_overlay
{
	background-color: #000;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 98;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
	opacity: 0.2;
}

* html .layer_cart_overlay
{
	position: absolute;
	left: 0;
	margin-left: -160px;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
	opacity: 0.2;
}

#layer_cart
{
	background-color: #fff;
	position: absolute;
	display: none;
	z-index: 99;
	width: 84%;
	margin-right: 8%;
	margin-left: 8%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#layer_cart .layer_cart_product
{
	padding: 30px 30px 30px 30px;
	overflow: hidden;
	position: static;
}
#layer_cart .layer_cart_product .title
{
	display: block;
	font: 400 23px/29px Arial, Helvetica, sans-serif;
	color: #46a74e;
	margin-bottom: 22px;
}
@media (max-width: 767px)
{
	#layer_cart .layer_cart_product .title
	{
		font-size: 18px;
		padding-right: 0;
		line-height: normal;
	}
}
#layer_cart .layer_cart_product .title i
{
	font-size: 30px;
	line-height: 30px;
	float: left;
	padding-right: 8px;
}
@media (max-width: 767px)
{
	#layer_cart .layer_cart_product .title i
	{
		font-size: 22px;
		line-height: 22px;
	}
}
#layer_cart .layer_cart_product .product-image-container
{
	max-width: 178px;
	border: 1px solid #d6d4d4;
	padding: 5px;
	float: left;
	margin-right: 30px;
}
@media (max-width: 480px)
{
	#layer_cart .layer_cart_product .product-image-container
	{
		float: none;
		margin-right: 0;
		margin-bottom: 10px;
	}
}
#layer_cart .layer_cart_product .layer_cart_product_info
{
	padding: 38px 0 0 0;
}
#layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_title
{
	display: block;
	padding-bottom: 8px;
}
#layer_cart .layer_cart_product .layer_cart_product_info > div
{
	padding-bottom: 7px;
}
#layer_cart .layer_cart_product .layer_cart_product_info > div strong
{
	padding-right: 3px;
}
#layer_cart .layer_cart_cart
{
	background: #fafafa;
	border-left: 1px solid #d6d4d4;
	padding: 21px 30px 170px 30px;
	-moz-border-radius: 0px 4px 4px 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px 4px 4px 0px;
	position: relative;
}
@media (min-width: 1200px)
{
	#layer_cart .layer_cart_cart
	{
		min-height: 318px;
	}
}
@media (min-width: 992px) and (max-width: 1199px)
{
	#layer_cart .layer_cart_cart
	{
		min-height: 360px;
	}
}
@media (max-width: 991px)
{
	#layer_cart .layer_cart_cart
	{
		-moz-border-radius: 0px 0 4px 4px;
		-webkit-border-radius: 0px;
		border-radius: 0px 0 4px 4px;
		border-left: none;
		border-top: 1px solid #d6d4d4;
	}
}
#layer_cart .layer_cart_cart .title
{
	display: block;
	font: 400 23px/29px Arial, Helvetica, sans-serif;
	color: #333;
	border-bottom: 1px solid #d6d4d4;
	padding-bottom: 13px;
	margin-bottom: 17px;
}
@media (max-width: 767px)
{
	#layer_cart .layer_cart_cart .title
	{
		font-size: 18px;
	}
}
#layer_cart .layer_cart_cart .layer_cart_row
{
	padding: 0 0 7px 0;
}
#layer_cart .layer_cart_cart .button-container
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0px 30px 20px 30px;
}
#layer_cart .layer_cart_cart .button-container .btn
{
	margin-bottom: 10px;
}
#layer_cart .layer_cart_cart .button-container span.exclusive-medium
{
	margin-right: 5px;
}
#layer_cart .layer_cart_cart .button-container span.exclusive-medium i
{
	padding-right: 5px;
	color: #777777;
}
#layer_cart .cross
{
	position: absolute;
	right: 7px;
	top: 8px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	color: #333;
	z-index: 2;
}
#layer_cart .cross:before
{
	content: "\f057";
	display: block;
	font-family: "FontAwesome";
	font-size: 25px;
	line-height: 25px;
}
#layer_cart .cross:hover
{
	color: #515151;
}
#layer_cart .continue
{
	cursor: pointer;
}
#layer_cart p
{
	padding: 0px;
}

/************************************************************************
Layer Cart Caroucel
*************************************************************************/
#layer_cart .crossseling .crossseling-content
{
	border-top: 1px solid #d6d4d4;
	padding: 26px 30px 40px 30px;
	position: relative;
}
#layer_cart .crossseling h2
{
	font: 400 23px/26px Arial, Helvetica, sans-serif;
	color: #333;
	margin-bottom: 25px;
}
#layer_cart .crossseling #blockcart_list
{
	max-width: 773px;
	width: 84%;
	margin: 0 auto;
	overflow: hidden;
}
#layer_cart .crossseling #blockcart_list ul
{
	display: block;
}
#layer_cart .crossseling #blockcart_list ul li
{
	float: left;
	width: 178px;
	margin: 0 0px 0 0;
}
#layer_cart .crossseling #blockcart_list ul li .product-image-container
{
	border: 1px solid #d6d4d4;
	text-align: center;
	padding: 5px;
	margin-bottom: 15px;
}
#layer_cart .crossseling #blockcart_list ul li .product-image-container img
{
	width: 100%;
}
#layer_cart .crossseling #blockcart_list ul li .product-name
{
	padding-bottom: 5px;
}
#layer_cart .crossseling #blockcart_list ul li .product-name a
{
	font-size: 15px;
	line-height: 20px;
}
#layer_cart .crossseling #blockcart_list a.bx-prev,
#layer_cart .crossseling #blockcart_list a.bx-next
{
	display: block;
	font-family: "FontAwesome";
	font-size: 20px;
	line-height: 20px;
	width: 20px;
	height: 20px;
	color: #333;
	text-indent: -5000px;
	position: absolute;
	top: 45%;
	margin-top: -20px;
}
#layer_cart .crossseling #blockcart_list a.bx-prev:after,
#layer_cart .crossseling #blockcart_list a.bx-next:after
{
	display: block;
	text-indent: 0;
}
#layer_cart .crossseling #blockcart_list a.bx-prev:hover,
#layer_cart .crossseling #blockcart_list a.bx-next:hover
{
	color: #c0c0c0;
}
#layer_cart .crossseling #blockcart_list a.bx-prev.disabled,
#layer_cart .crossseling #blockcart_list a.bx-next.disabled
{
	display: none;
}
#layer_cart .crossseling #blockcart_list a.bx-prev
{
	left: 5%;
}
#layer_cart .crossseling #blockcart_list a.bx-prev:after
{
	content: "\f137";
}
#layer_cart .crossseling #blockcart_list a.bx-next
{
	right: 5%;
}
#layer_cart .crossseling #blockcart_list a.bx-next:after
{
	content: "\f138";
}
#layer_cart .crossseling #blockcart_list .bx-controls
{
	overflow: hidden;
}
#header .cart_block a.cart_block_product_name{
	color: #666;
}
.cart_block .products{
	overflow: auto;
}
/*# sourceMappingURL=blockcart.css.map */

@media (min-width: 768px) AND (max-width: 1199px) {

	#header .shopping_cart {
		width: 66px;
		position: relative;
		float: right;
		text-align: center;
		top: -10px;
	}
}
@media(max-width:599px){
	#header .cart_block{
		left: 0px;
		right: auto;
		top: 160px;		
	}
}
.cart-prices-line .cart_block_total_txt{
	font-size: 16px;
	color: #000;
	float: left;
}
.cart-prices-line span{
	color: #000;
}
.cart_block_list dl{
	margin: 10px;
}
