/*** ESSENTIAL STYLES ***/




.sf-contener-second {
    clear: both;
}
.sf-right-second {
    margin-right: 14px;
    float: right;
    width: 7px;
}
.sf-menu-second, .sf-menu-second * {
    margin:			0;
    padding:		0;
    list-style:		none;
}
.sf-menu-second {
    padding: 0 0 0 10px;
    width:980px;/* 980 */
    background: #7dc090;
}
.sf-menu-second ul {
    position:		absolute;
    top:			-999em;
    width:			10em; /* left offset of submenus need to match (see below) */
}
.sf-menu-second ul li {
    width:			100%;
}
.sf-menu-second > li:hover {
    visibility:		inherit; /* fixes IE7 'sticky bug' */
    font-weight: 500;   
    background: #97cda6;        
}
.sf-menu-second li {
    float: left;
    position: relative;
    font-size: 14px;
    font-weight: normal;
}




.sf-menu-second a {
    display:		block;
    position:		relative;
    color:#fff;
}
.sf-menu-second li:hover ul,
.sf-menu-second li.sfHover ul {
    left:			0;
    top:			34px; /* match top ul list item height */
    z-index:		99;
    width:auto;
    margin-top:16px;
}
ul.sf-menu-second li:hover li ul,
ul.sf-menu-second li.sfHover li ul {
    top:			-999em;
}
ul.sf-menu-second li li:hover ul,
ul.sf-menu-second li li.sfHover ul {
    left:			200px; /* match ul width */
    top:			0;
}
ul.sf-menu-second li li:hover li ul,
ul.sf-menu-second li li.sfHover li ul {
    top:			-999em;
}
ul.sf-menu-second li li li:hover ul,
ul.sf-menu-second li li li.sfHover ul {
    left:			200px; /* match ul width */
    top:			0;
}

/*** DEMO SKIN ***/
.sf-menu-second {

}

.sf-menu-second a {
    display:block;
    margin-right:2px;
    padding: 0 15px;
    line-height:34px;    
    border: 0;
    text-decoration:none;
}


.sf-menu-second > li > a {
    line-height:50px; 	
}
.sf-menu-second a, .sf-menu-second a:visited  { /* visited pseudo selector so IE6 applies text colour*/
    color:			#fff;
    white-space:nowrap;
}
.sf-menu-second li li {
    background: #ffffff;
    padding: 0 5px;        
}
.sf-menu-second li li a, .sf-menu-second li li a:visited{
    font-size:10px;
    font-weight: 300;
    color:#000;
    border-bottom: 1px solid #000;    
}
.sf-menu-second li li li {
    background:	rgba(113, 113, 113, 0.9);
}
.sf-menu-second a:focus, .sf-menu-second a:hover, .sf-menu-second a:active {
    background: #97cda6;
    font-weight: bold;    
}
.sf-menu-second ul li :hover, .sf-menu-second ul li.sfHover,
.sf-menu-second ul li a:focus, .sf-menu-second ul li a:hover, .sf-menu-second ul li a:active {
    background:		#fff;
    outline:		0;
}
/*** arrows **/
.sf-menu-second a.sf-with-ul {
    padding-right: 	2.25em;
    min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator-second {
    position:		absolute;
    display:		block;
    right:			10px;
    top:			1.05em; /* IE6 only */
    width:			10px;
    height:			10px;
    text-indent: 	-999em;
    overflow:		hidden;
    background:		url('../img/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator-second {  /* give all except IE6 the correct values */
    top: 11px;
    background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator-second,
a:hover > .sf-sub-indicator-second,
a:active > .sf-sub-indicator-second,
li:hover > a > .sf-sub-indicator-second,
li.sfHover > a > .sf-sub-indicator-second {
    background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu-second ul .sf-sub-indicator-second{ background-position:  -10px 0; }
.sf-menu-second ul a > .sf-sub-indicator-second { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu-second ul a:focus > .sf-sub-indicator-second,
.sf-menu-second ul a:hover > .sf-sub-indicator-second,
.sf-menu-second ul a:active > .sf-sub-indicator-second,
.sf-menu-second ul li:hover > a > .sf-sub-indicator-second,
.sf-menu-second ul li.sfHover > a > .sf-sub-indicator-second {
    background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow-second ul {
    background:	url('../img/shadow.png') no-repeat bottom right;
    padding: 0 8px 9px 0;
    -moz-border-bottom-left-radius: 17px;
    -moz-border-top-right-radius: 17px;
    -webkit-border-top-right-radius: 17px;
    -webkit-border-bottom-left-radius: 17px;
}
.sf-shadow-second ul.sf-shadow-off {
    background: transparent;
}
li.sf-search-second {
    background: inherit;
    float: right;
    line-height: 25px;
}
li.sf-search-second input {
    -moz-border-radius: 0 5px 5px 0;
    padding: 3px 0;
    padding-left: 20px;
    margin: 6px 6px 0 0;
    background: #fff url('../img/search.gif') no-repeat left center;
    border:1px solid #777
}

/* hack IE7 */

.sf-menu-second li li {
    width:200px;
}
.sf-menu-second li li:hover a {
    font-weight: bold;
}

#block_second_menu{
    position: relative;
    clear: both;
}

#block_second_menu:before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #7DC090;
    left: -50%;
    content: " ";
    z-index: -1;}

#block_second_menu:after {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #7DC090;
    right: -50%;
    content: " ";
    z-index: -1;}

#block_top_menu_contact{

    font-size: 12px;
    background: #7dc090;	
    color:#fff;
    font-weight: 400;
    line-height:50px; 
    text-align: right;  
    padding-right: 40px;    
}
#block_top_menu_contact span{
    display: inline-block;
    margin-left: 15px;
}
#block_top_menu_contact .icon-phone{
    content: url(../../../img/ikona1.png);
    width: 30px;
    height: auto;    
   
}    
#block_top_menu_contact .icon-envelope{
     content: url(../../../img/ikona2.png);
     width:30px;
     height: auto;
}
#block_top_menu_contact i{
  
    color:	#fff;
    font-size:20px;
    vertical-align: middle;
    display: inline-block;
    padding: 0 5px;
}    


@media (max-width: 767px){
    .sf-menu-second {
        display: none;
    }
}
@media (max-width: 767px){
    .sf-menu-second > li {
        float: none;
        position: relative;
        border-right: none;
    }
}