.adminxallegromain .bootstrap label,
.adminxallegrocategories .bootstrap label{
	margin:0 !important;
	padding:2px 0 0 0 !important;
}

.adminxallegromain .bootstrap label.required,
.adminxallegrocategories .bootstrap label.required{
	font-weight:bold;
}

.adminxallegromain .bootstrap label.required:before,
.adminxallegrocategories .bootstrap label.required:before{
	display:none;
}

.adminxallegromain .bootstrap label.required sup,
.adminxallegrocategories .bootstrap label.required sup,
.adminxallegropas sup{
	color: #F00;
	font-size: 14px;
	position: relative;
	vertical-align:bottom;
}

.adminxallegromain .bootstrap label,
.adminxallegrocategories .bootstrap label{
	font-weight:normal;
}
