<!-- Created by krzysztofz on 2015-04-22 -->

<li class="lnk_wishlist">
	<a href="{$base_url}module/przelewy24/myStoredCards" title="{l s='My stored cards' mod='przelewy24'}">
		<i class="icon-credit-card"></i>
		<span>{l s='My stored cards' mod='przelewy24'}</span>
	</a>
</li>

<style>
	@font-face {
		font-family: 'FontAwesome';
		src: url("{$base_url}modules/przelewy24/css/fontawesome-webfont.eot?v=4.1.0");
		src: url("{$base_url}modules/przelewy24/css/fontawesome-webfont.eot?#iefix&v=4.1.0") format("embedded-opentype"),
		     url("{$base_url}modules/przelewy24/css/fontawesome-webfont.woff?v=4.1.0") format("woff"),
		     url("{$base_url}modules/przelewy24/css/fontawesome-webfont.ttf?v=4.1.0") format("truetype"),
		     url("{$base_url}modules/przelewy24/css/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular") format("svg");
		font-weight: normal;
		font-style: normal
	}
</style>