.header_user_info {
    width: 66px;
    position: relative;
    float: right;
    text-align: center;
}

.header_user_info > a:first-child {
    display: block;
    overflow: hidden;
    height: 100%;
}
.header_user_info > a:first-child b {
    display: block;
    font-size: 14px;
    font-weight: 200;
    color: #c9c9c9;
}

p.login-block > a {
    color: #292a62;
}
p.login-block > a:hover {
    color: rgba(41,42,98,0.6);
}

.header_user_info a:hover, .header_user_info a.active {
    background: #f4f4f4;
}
.header_user_info .loginbox{
    display: none;
}
.header_user_info .loginbox{
    width: 250px;
    background: #f4f4f4;
    padding: 20px;
    border: none;
    right: 0;
    position: absolute;
    z-index: 1;
}
.header_user_info .loginbox #login_form p{
    margin-bottom: 15px;
}
.header_user_info .loginbox #login_form input{
    width: 100%;
    border: 1px solid #292a62;
}
.header_user_info .loginbox #login_form .submit input{
    background: #292a62;
    border: medium none;
    color: #fff;
    display: block;
    height: 47px;
    padding: 13px 15px;
    position: relative;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}
.header_user_info .loginbox #login_form .submit input:hover{
    cursor: pointer;
    background: rgba(41,42,98,0.75);
}
.login-block{
    color: #333;
    font-family: "Exo 2";
    font-size: 16px;
    font-weight: normal;
}
.login-block.mb{
    margin-bottom: 15px;
}

/*# sourceMappingURL=blockuserinfo.css.map */

.loggedul li a{
    padding: 5px 10px;
    background: #fff;
    margin-bottom: 10px;
    display: block;
}
.loggedul li:last-child a{
    margin-bottom: 0;
}

@media (max-width: 599px) {
    .header_user_info .loginbox{
        right: auto;
        left:0;
        width: 100%;        
    }
}

@media (min-width: 768px) AND (max-width: 1199px) {
    .header_user_info > a:first-child{
        padding: 0;
    }
    .header_user_info{
        height: auto;
        float: none;
        position: absolute;
        top: 25px;
        right: 140px;
    }    
}
.header_user_info a {
    color: #000;
}
.header_user_info > a:first-child:hover b {
    color: #292a62;
    font-weight: 400;
}

@media (max-width: 599px) {
    .header_user_info{
        height: 90px;
        width: 55px;
        position: static;        
    }
    .header_user_info > a:first-child b{
        display: none;
    }
}