.header_user_info {
    width: 66px;
    position: relative;
    float: right;
    text-align: center;
	height: 105px;
}

.header_user_info > a:first-child {
    display: block;
    overflow: hidden;
	padding-top: 35px;
	height: 100%;
}
.header_user_info > a:first-child b {
    display: block;
    font-size: 14px;
    font-weight: 200;
    color: #c9c9c9;
}

.header_user_info a:hover, .header_user_info a.active {
    background: #f4f4f4;
}
.header_user_info .loginbox{
	display: none;
}
.header_user_info .loginbox{
	width: 250px;
	background: #f4f4f4;
	padding: 20px;
	border: none;
	right: 0;
	position: absolute;
}
.header_user_info .loginbox #login_form p{
	margin-bottom: 15px;
}
.header_user_info .loginbox #login_form input{
	width: 100%;
}
.header_user_info .loginbox #login_form .submit input{
	background: #89bdd3 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    display: block;
    height: 47px;
    padding: 13px 15px;
    position: relative;
    text-align: center;
    width: 100%;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
}
.header_user_info .loginbox #login_form .submit input:hover{
	cursor: pointer;
	background: #739eb1;
}
.login-block{
	color: #333;
    font-family: "Exo 2";
    font-size: 16px;
    font-weight: normal;
}
.login-block.mb{
	margin-bottom: 15px;
}
/*# sourceMappingURL=blockuserinfo.css.map */

.loggedul li a{
	padding: 5px 10px;
	background: #fff;
	margin-bottom: 10px;
	display: block;
}
.loggedul li:last-child a{
	margin-bottom: 0;
}

@media (max-width: 479px) {
    .header_user_info a {
        font-size: 11px;
    }
	.header_user_info .loginbox{
		right: -80px;
	}
}

@media (min-width: 768px) AND (max-width: 1199px) {
    .header_user_info > a:first-child{
        padding: 0;
    }
    .header_user_info{
        height: auto;
        float: none;
        position: absolute;
        top: 25px;
        right: 140px;
    }    
}