#shopi-table{
	background-color: #E7E7E7;
    border-spacing: 1px;
    color: #666666;
    width: 500px;
}
#shopi-table tr{
	background-color: #FFFFFF;
    text-align: left;
}
#shopi-table th{
	background: none repeat scroll 0 0 #F0F0F0;
    border-bottom: 1px solid #999999;
    border-left: 1px solid #FFFFFF;
    color: #666666;
    text-align: center;
}
#shopi-table td{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    height: 25px;
}
.shopi-bottom{
	width:100%;
	margin-top: 20px;
}
.shopi-header {
	width: 400px;
	height:30px;
	margin-top: 5px;
}

.shopi-header .shopi-left{
	float: left;
    width: 150px;
}
.shopi-header .shopi-right{
	float: left;
    margin-left: 10px;
    position: relative;
    width: 160px;
}
.shopi-header .shopi-right .shopiadd{
	position: absolute;
    right: 30px;
    top: 18px;
	cursor:pointer;
}
.shopidelete{
	cursor:pointer;
}
#shopihook{
	width:80px;
}
#shopimodule{
	width:130px;
}
.labelmodule, .labelhook {
	text-align:left;
	color:#222222;
	width:100px;
}