/*******************************************************
                                Addresses Styles
********************************************************/
#addresses #center_column .page-heading {
    margin: 0 0 22px; }
#addresses #center_column p {
    margin: 0 0 13px; }
#addresses #center_column p.p-indent {
    color: #66cc99;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 58px;
    display: inline-block; }
#addresses .bloc_adresses{
    margin-bottom: 30px;
}
.address li.address_update {
    margin: 14px 0 6px 0; }
.address li.address_update a {
    float: none;    
    margin: 0 10px 0 0; }
#addresses #center_column .address_title{
    font-size:16px;
    font-weight: 700;
    color:#000;
    text-transform: uppercase;
    margin:0 0 34px 0;
}
.address li:not(.address_update ) span{
    font-size:16px;
    font-weight: 400;
    line-height: 24px;
    color:#000;
}

#addresses a.button.button-medium {
    display: inline-block;
    float: right;    
}
/*# sourceMappingURL=addresses.css.map */
