/**********************************************************
                                Authentication Styles
**********************************************************/
#account-creation_form .id_state,
#account-creation_form .dni,
#account-creation_form .postcode {
    display: none; }

#create-account_form {
    min-height: 297px; }
#create-account_form p {
    margin-bottom: 8px; }
#create-account_form .form-group {
    margin: 0 0 20px 0; }

#login_register_page #login_form {
    min-height: 297px; }
#login_form .form-group {
    margin: 0 0 3px 0; }
#login_form .form-group.lost_password {
    margin: 10px 0 -15px 0;
}
#login_form .form-group.lost_password a {
	color: #333;
	font-size: 14px;
	font-weight: normal;
 }
#login_form .form-group.lost_password a:hover {
    text-decoration: none; }

#login_register_page #login_form .form-control,
#login_register_page #create-account_form .form-control {
    max-width: 271px; }
@media (max-width: 599px){
	#login_register_page #login_form .form-control,
	#login_register_page #create-account_form .form-control {
		max-width: 100%; }
}

/*# sourceMappingURL=authentication.css.map */
#authentication .box{
    background: none;
    border: 1px solid #000;
    padding: 42px 96px; 
}
#authentication .box h3{
    font-size: 48px;
    color:#000;
    border:none;
}

#authentication .box .page-heading_prompt{
    font-size: 18px;
    color:#000;
}
#authentication #login_register_page .box #email{
    margin-top: 55px;    
}


#authentication #login_register_page .box #passwd, #authentication #login_register_page .box #email_create{
    margin-bottom: 30px;
}
#authentication .box .form-group .form-control{
    max-width: 100%;
}
#authentication .box ul{
    font-size: 18px;
    color:#000;
    margin-top: 30px;

}
#authentication .box ul li{
    position: relative;
    padding-left:20px;
    line-height: 30px;
}
#authentication .box ul li:before{
    content: '';
    width: 10px;
    height: 10px;
    background-color: #7dc090;
    border: 1px solid #7dc090;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#authentication #account-creation_form{
    margin-top: 0;
}
#authentication .box .account_creation .page-heading_prompt{    
    margin-bottom: 30px;
}
#authentication .box .account_creation label{
    font-size: 16px;
}
#authentication .box .account_creation .form-group label{    
    line-height: 40px;  
    text-align: right;    
}
#authentication .box .account_creation .radio, #authentication .box .account_creation .checker {
    margin-left: auto;
}
@media (min-width: 992px) AND (max-width: 1199px){
	#authentication #create-account_form{
		padding: 42px 96px 63px;
	}
	#account-creation_form .col-xs-11{
		width: 91.5665%;
	}
}
@media (min-width: 767px) AND (max-width: 991px){
	#authentication #create-account_form{
		padding: 42px 30px 60px
	}
	#login_form .form-group.lost_password{
		margin: 0 0 5px;
		text-align: right;
	}
}
@media (max-width: 991px){
	#authentication .box,
	#account-creation_form{
		padding: 42px 30px;
	}
}
@media (max-width: 479px){
	#authentication .box{
		padding: 42px 30px;
	}
	#login_form .form-group.lost_password{
		margin: 0 0 15px;
	}
}