/* ************************************************************************************************
Categories Page Styles
************************************************************************************************ */
.content_scene_cat
{

}
.content_scene_cat .content_scene_cat_bg img
{
 	margin-top: 60px;
 	/*margin-bottom: 28px;*/
}

.content_scene_cat span.category-name
{
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: bold;
    color: #000;
}
@media (max-width: 1199px)
{
    .content_scene_cat span.category-name
    {
        font-size: 25px;
        line-height: 30px;
    }
}
.content_scene_cat p
{
	font-size: 14px;
	line-height: 24px;
	color:#666666;
    margin-bottom: 0;
}
.content_scene_cat a
{

}
.content_scene_cat a:hover
{
    text-decoration: underline;
}
.content_scene_cat .content_scene
{
    color: #777;
}
.content_scene_cat .content_scene .cat_desc
{
    padding-top: 20px;
}
.content_scene_cat .content_scene .cat_desc a
{
    color: #777;
}
.content_scene_cat .content_scene .cat_desc a:hover
{
    color: #515151;
}

/* ************************************************************************************************
Sub Categories Styles
************************************************************************************************ */
#subcategories
{
    border-top: 1px solid #d6d4d4;
    padding: 15px 0 0px 0;
}
#subcategories p.subcategory-heading
{
    font-weight: bold;
    color: #333;
    margin: 0 0 15px 0;
}
#subcategories ul
{
    margin: 0 0 0 -20px;
}
#subcategories ul li
{
    float: left;
    width: 145px;
    margin: 0 0 13px 33px;
    text-align: center;
    height: 202px;
}
#subcategories ul li .subcategory-image
{
    padding: 0 0 8px 0;
}
#subcategories ul li .subcategory-image a
{
    display: block;
    padding: 9px;
    border: 1px solid #d6d4d4;
}
#subcategories ul li .subcategory-image a img
{
    max-width: 100%;
    vertical-align: top;
}
#subcategories ul li .subcategory-name
{
    font: 600 18px/22px "Open Sans", sans-serif;
    color: #555454;
    text-transform: uppercase;
}
#subcategories ul li .subcategory-name:hover
{
    color: #515151;
}
#subcategories ul li .cat_desc
{
    display: none;
}
#subcategories ul li:hover .subcategory-image a
{
    border: 5px solid #333;
    padding: 5px;
}

#category h1.product-listing, #layered_block_left > h3 {
    margin-bottom: 28px;
    font-size: 24px;
    font-weight: bold;
    color: #000;	
}
@media (min-width: 768px){
	.content_scene_cat_bg .cat_desc{
		float: left;
	}
	.content_scene_cat_bg .col-lg-4{
		float: right;
	}
}

/*# sourceMappingURL=category.css.map */
.lnk_more:hover,.lnk_less:hover{
    text-decoration: underline;
}

.lnk_more{
    cursor: pointer;
}

.lnk_less{
    cursor: pointer;
    display: none;
}