#my-account .addresses-lists {
    padding-left: 68px;    
    margin-bottom: 30px; }
#my-account ul.myaccount-link-list li {
    line-height: 40px;    
    overflow: hidden;
    padding-bottom: 10px; }
#my-account ul.myaccount-link-list li a {
    position: relative;
    display: inline-flex;    
}

#my-account ul.myaccount-link-list li a span {
    overflow: hidden;
    margin: 0 20px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
#my-account ul.myaccount-link-list li a:hover {
    filter: none;
    background: #e7e7e7;
    border-color: #9e9e9e #c2c2c2 #c8c8c8 #c2c2c2; }

p.info-account {
    color:#000;
    font-weight: 400;
    font-size:16px;
    margin-bottom: 58px;
}   
#my-account ul.myaccount-link-list li img{
    background: #fff;
    height: 100%;
    width: auto;
    
}
#my-account ul.myaccount-link-list li.lnk_wishlist img{
    padding: 5px 0;
	margin-right: 8px;
}
@media (max-width: 479px){
	#my-account .addresses-lists {
		padding: 0;
	}
	
}
/*# sourceMappingURL=my-account.css.map */
