
#cart{
	position: relative;
	margin-top: -50px;

}
#cart_summary, #cart_summary tbody td.cart_product img {
	border: none;
}

#cart_summary, #cart_summary tbody td.cart_product img {
	border: none;
	margin: 0;    
}
#cart_summary thead {
	display: none;
}
#cart_summary tbody td {
	padding: 0 0 22px 0;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
	border: none;
}

#cart .cart_block{
	border: 1px solid #cccccd;
	padding: 14px 16px 0;
}
#cart .cart_block > ul{
	margin: 0;    
}
.cart_last_product {
	display: none; }
.cart_quantity .cart_quantity_button {
	display: flex;
}

.cart_quantity .cart_quantity_input {
	width: 50%;
	margin: 0;
	background: #252b53;
	color: #fff;
	text-align: center;
	border: 2px solid #252b53 !important;
	font-weight: bold;
	padding: 0; 
	height: auto;    
}

.cart_gift_quantity .cart_quantity_input {
	height: 27px;
	line-height: 27px;
	padding: 0;
	text-align: center;
	width: 57px; }

.table tbody > tr > td {
	vertical-align: middle; }
.table tbody > tr > td.cart_quantity {
	padding: 41px 14px 25px;
	width: 70px; }
.table tbody > tr > td.cart_delete, .table tbody > tr > td.price_discount_del {
	padding: 5px; }
.table tfoot > tr > td {
	vertical-align: middle; }

.cart_delete a.cart_quantity_delete,
a.price_discount_delete {
	font-size: 16px;
	color: #fff;
	display: inline-block;
	width: 20px;
	height: 38px;
	background-color: #7dc090;
	line-height: 38px;
}
.cart_delete a.cart_quantity_delete:hover,
a.price_discount_delete:hover {
	background-color: #97CDA6; }
#cart_summary tbody td.cart_product {
	width: 60px;
	padding-right: 16px;
	/*text-align: left;*/}
#cart_summary tbody td.cart_product + td {
	width: 100px;
	padding-right: 16px;
	/*text-align: left;*/}
#cart_summary tbody td.cart_quantity {
	padding-right: 16px;
	width: 76px; }
#cart_summary tbody td.cart_total {
	padding-right: 16px;
	width: 70px; }
#cart_summary tbody td.cart_total > span {
	width: 100%;
	margin: 0;
	color: #252b53;
	border: solid 2px #252b53;
	text-align: center;
	font-weight: bold;
	padding: 0;
	font-size: 16px;
	line-height: 36px;
	display: block;
}

#cart_summary tbody td.cart_product img {
	max-width: 100%;
	height: auto;
}
#cart_summary tbody td.cart_unit .price span {
	display: inline-block; }
#cart_summary tbody td.cart_unit .price span.price-percent-reduction {
	margin: 5px auto;
	display: inline-block; }
#cart_summary tbody td.cart_unit .price span.old-price {
	text-decoration: line-through; }
#cart_summary tbody td.cart_description  {
	/*text-align: center;    */
	padding-right: 16px; 
	width: 175px; }
#cart_summary tbody td.cart_description a {
	font-size: 11px;
	color: #000;
}
#cart_summary tbody td.cart_description a div:nth-child(2n) {
	vertical-align: top;
	color: #000;
}
#cart_summary tbody td.cart_description a div:nth-child(2n-1) {
	font-weight: 700;
	vertical-align: top;
	color: #000;
	float: left;
	padding-right: 5px;	
}
#cart_summary tbody td.cart_product +td .product-name{
	text-align: center;
	margin: 0;
}
#cart_summary tbody td.cart_product +td .product-name a  {
	font-size: 14px;
	color: #000;
	font-weight: bold;
	display: inline-block;   
	line-height: 1.3;
}
#cart_summary tbody td.cart_product +td .product-name .exclusive-product-list{
	font-size: 13px;
	margin: 0;
}
#cart_summary tbody td.cart_description small {
	display: block;
}
#cart_summary tbody td.cart_avail {
	width: 1%; }
#cart_summary tbody td.cart_avail span {
	white-space: nowrap; }
#cart_summary tbody td.cart_delete {
	width: 1%; }

#cart_summary .stock-management-on tbody td.cart_description {
	width: 480px; }

.cart_discount_price {
	text-align: right; }

.cart_discount_delete {
	text-align: center; }
#shopping-cart-right {
	border: 1px solid #cccccd;  
	padding: 19px 12px;    
}
#cart_summary tfoot tr, #cart_summary tfoot {
	background: none;
	/*display: block;    */
}
#cart_summary tfoot tr:last-of-type{
	text-align: center;
}
#cart_summary tfoot td {
	background: none;
	font-size: 14px;
	font-weight: normal;
	color: #000;
	padding: 0;
	display: inline-block;
   
}

#cart_summary tfoot tr td:nth-of-type(2) {
	float: right;	
}
#cart_summary tfoot .cart_total_price td.total_price_container, #cart_summary tfoot .cart_total_price td#total_price_container{
	padding: 30px 0 0 0;
	font-weight: bold;

}

.button.button-medium {
	background: #7dc090 none repeat scroll 0 0;
	border: medium none;
	color: #fff;
	display: block;
	height: auto;
	position: relative;
	width: auto;
	text-align: center;
	margin-top: 12px;
	padding: 13px 15px;    

}

.button.button-medium span {
	display: block;
	line-height: 24px;
	border: none;
	padding: 0;
	font-size: 18px;
	text-transform: uppercase;
}


/* -------------------------------------------------------------- */


.page-heading,
#crossselling h3{
	margin: 0;
	padding: 30px;
	line-height: 24px;
	border: none;
	color: #333;
	text-transform: none;
}
#crossselling .center-line-after::after{
	display: none;
}
#crossselling .product_list{
	padding: 0 20px;
}

.cart_navigation { }
.cart_navigation .button-medium {
	float: right;
	font-size: 20px;
	line-height: 24px; }
.cart_navigation .button-medium span {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	/*padding: 11px 15px 10px 15px;*/ }
@media (max-width: 992px) {
	.cart_navigation .button-medium span {
		font-size: 16px; }
}
.cart_navigation .button-medium i.right {
	font-size: 25px;
	line-height: 25px;
	vertical-align: -4px;
	margin-left: 6px; }
.cart_navigation .button-exclusive {
	border: none;
	background: none;
	padding: 0;
	font-size: 14px;
	font-weight: normal;
	color: #666;
	margin: 0 30px 0 0; }
.cart_navigation .button-exclusive:hover {
	font-weight: bold; }
.cart_navigation .button-exclusive i {
	color: #777777;
	margin-right: 8px; }
.cart_navigation .button-exclusive:hover, .cart_navigation .button-exclusive:focus, .cart_navigation .button-exclusive:active {
	color: #515151;
	-webkit-box-shadow: none;
	box-shadow: none; }
@media (max-width: 480px) {
	.cart_navigation > span {
		display: block;
		width: 100%;
		padding-bottom: 15px; }
}

#payment_execution #cart_navigation.cart_navigation{
	background: none;
}
#cart > div > div > div > div.navicart{
	background: none;
	-moz-box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0);
	-webkit-box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0);
	box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0);
}
#cart > div > div > div > div.navicart .cart_navigation .button-exclusive{
	font-size: 14px;
	color: #868686;
	font-weight: normal;
	margin: 0;
}
.voucher_form{
	margin-top: 30px;
}
.vou_info{
	text-align: center;
	font-size: 14px;
	color: #333;
	margin-bottom: 15px;
}
.vou_info span{
	font-weight: bold;
}
.vou_info .big{
	display: block;
	font-size: 18px;
}
.cart_voucher fieldset #discount_name{
	width: -moz-calc(70% - 8px);
	width: -webkit-calc(70% - 8px);
	width: calc(70% - 8px);
	height: 38px;
	float: left;
	background: #f7f7f7;
	padding: 0 15px;
	margin-right: 8px;
}
.cart_voucher fieldset .button.button-small{
	width: 30%;
	float: left;
	background: #fff0ba;
	border: none;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	text-align: center;
	text-transform: uppercase;
	height: 38px;
}
.cart_voucher fieldset .button.button-small span{
	border: none;
	background: none;
}
.crosseling_block{
	margin-top: 40px;
}
.platnosci_block_right{
	padding: 20px;
}
.platnosci_block_right h4{
	color: #333;
	margin: 0 0 20px;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
.platnosci_block_right img{
	margin: 0 12px 12px 0;
}
.head_cart_block{
	border-top: 1px solid #efefef;
	padding: 20px;
}
.page-heading.inside{
	padding: 10px 10px 30px;
}
.cart_left_padding{
	padding: 30px 55px 15px 55px;
}
#cart .account_creation label{
	width: auto;
}
.page-heading.withborder{
	border-bottom: 1px solid #efefef;
}
.account_check{
	height: 32px;
	display: inline-block;
	border: 1px solid #252B53;
	color: #252B53;
	padding: 6px 15px;
	font-size: 14px;
	text-transform: uppercase;
}
.account_check.active{
	background: #252B53;
	color: #fff;
}
.account_check:hover{
	background: #252B53;
	color: #fff;
	border-color: #252B53;
}
.account_buttons a:first-of-type{
	margin-right: 10px;
}
.account_buttons a:first-of-type,
.account_buttons a > span{
	font-weight: bold;
}
#account_login_forms form{
	display: none;
}
#account_login_forms form.active{
	display: block;
}
.account_creation{
	padding: 30px 55px;
}
#my-account-content > div {
	padding: 15px 55px;
}
.account_creation label{
	color: #333;
	font-size: 14px;
	font-weight: normal;
}
#account_login_forms form .form-control,
#add_address .form-control{
	height: 38px;
	width: 340px;
	background: #f7f7f7;
	padding: 0 15px;
	max-width: 100% !important;
	float: left;
}
#account_login_forms form .form-group,
#add_address .form-group{
	margin-bottom: 20px;
}
#add_address #vat_area{
	margin-bottom: 0
}
#vat_number{
	margin-bottom: 20px;
}
#add_address .form-group {
	float: left;
	width: 100%;
}
#account_login_forms .submit,
#login_form .submit,
#add_address .submit{
	padding: 0 30px;
	text-align: right;
}
#login_form .submit{
	padding: 0;
}
#account_login_forms #submitAccount,
#login_form #SubmitLogin,
#add_address .submit{
	float: right;
	width: auto;
}
.padding30{
	padding: 30px;
}
.addresses label,
.address.box li{
	font-size: 14px;
	font-weight: normal;
	color: #666666;
}
#add_address.padding30{
	padding: 30px 55px;
}
#address #submitAddress {
	margin-left: 0;
	float: right;
	width: auto; 
	padding: 13px 15px    
}
#address_invoice_form .button.button-small{
	background: #fff;
	color: #252B53;
	border: 1px solid #252B53;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#address_invoice_form .button.button-small span{
	background: none;
	border: none;
}
.addressesAreEquals label{
	font-size: 12px;
}
.box{
	background: #fff;
	border: 3px solid #252B53;
}
.page-subheading{
	font-size: 18px;
	color: #000;
	font-weight: bold;
	border: none;
	text-transform: uppercase;
	padding: 0;    
}

/* adresy */
.address li.address_update a{
	border: none;
	background: none;
	color: #666666;
	font-weight: 400;
	font-size: 14px;
	text-shadow: 0 0 rgba(0, 0, 0, 0);
	float: none;
	border: 1px solid #252B53;
	padding: 4px;	
}
.address li.address_update a:hover{
	text-decoration: underline;
	background: none;
}
.address li.address_update a span{
	border: none;
	background: none;
	padding: 0;
}
.address li.address_update a:hover span{
	border: none;
	background: none;
}
.address li.address_update a i,
.address_add .button.button-small i{
	display: none;
}
.address_add .button.button-small{
	border: none;
	color: #fff;
	display: inline-block;
	padding: 8px 30px;
	float: none;
}
.address_add .button.button-small:hover{
}
.address_add .button.button-small span{
	border: none;
	background: none;
	padding: 0;
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	text-transform: uppercase;
}
#ordermsg .form-control{
	height: 120px;
	width: 100%;
	padding: 15px;
	border-color: #cccccd;
	color: #666;
}
#ordermsg .form-control::place{

}
#ordermsg .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #666;
}
#ordermsg .form-control::-moz-placeholder { /* Firefox 19+ */
	color: #666;
}
#ordermsg .form-control:-ms-input-placeholder { /* IE 10+ */
	color: #666;
}
#ordermsg .form-control:-moz-placeholder { /* Firefox 18- */
	color: #666;
}

#ordermsg{
	margin-bottom: 0;
}
#ordermsg label{
	margin-bottom: 17px;    
}

/* navigacja */
.navigation_cart{
	margin: 0;
}
.navigation_cart li,
.page-heading,
#crossselling h3{
	border-bottom: 1px solid #efefef;
	color: #000;
	line-height: 30px;
	font-size: 30px;
	font-weight: 300;    
	margin: 0;
	padding: 30px;
	text-transform: none;
	background: #fff;

}
.navigation_cart li a{
	color: #333;
	display: block;
}
.navigation_cart.bottom li:first-child{
	border-top: 1px solid #efefef;
}
.padding30 .cart_navigation{
	background: none;
}
.padding30 .cart_navigation .button-medium,
#carrier_area #form .button-medium{
	text-align: right;
	margin: 30px 0 0;
	float: right;
	width: auto;
}
#carrier_area #form .cart_navigation{
	background: none;
}
#carrier_area #form .button-medium{
	margin: 0;
}

/* wysylka */
#carrier_area #form{
	padding: 0 30px 15px;
}
#order .delivery_option > div > table.resume,
#order-opc .delivery_option > div > table.resume{
	border: none;
	color: #666;
	font-size: 14px;
	margin: 20px 0 0;
}
#order .delivery_option > div > table.resume strong,
#order-opc .delivery_option > div > table.resume  strong{
	color: #000;
}
.order_carrier_content .agree,
.order_carrier_content .agree label,
.order_carrier_content .agree a{
	color: #666;
	font-size: 14px;
}
.order_carrier_content .agree a{
	color: #666;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.6;
    
}
.order_carrier_content .agree{
	margin: 30px 12px;
}
.order_carrier_content .agree .checker{
	margin-right: 20px;
	margin-bottom: 10px;    
}
.paiement_block #order-detail-content{
	display: none;
}
#HOOK_PAYMENT, .paroagonFakturaRadios{
	padding: 0 30px;
}
#HOOK_PAYMENT .payment_module{
	margin-bottom: 20px;
}
#HOOK_PAYMENT .payment_module > .radio,
#HOOK_PAYMENT .payment_module .radio > label{
	float: left;
}
#HOOK_PAYMENT .payment_module > label, #pfform  label{
	font-size: 16px;
	font-weight: normal;
	margin-left: 15px;
	position: relative;
	top: 3px;
}
#HOOK_PAYMENT .payment_module .payment_option_content{
	background: #f7f7f7;
	display: none;
	font-size: 16px;
	margin: 20px 6%;
	padding: 20px;
}
#HOOK_PAYMENT .payment_module .payment_option_content.active{
	display: block;
}
.paiement_block .cart_navigation{
	background: #fff;
	padding: 0 30px 30px;
}
.paiement_block .cart_navigation .button-medium {
	border-radius: 0;
	float: right;
	font-size: 18px;
	margin: 0;
	text-align: right;
	width: auto;
}
.btn.button-plus span,
.btn.button-minus span{
	padding: 2px 0 0;
}
.old-price{
	display: none;
}
/* end tabela produktow */

#payment_execution > div:first-of-type{
	margin-bottom: 20px;
}
#payment_execution h2{
	font-size: 18px;
	font-weight: 600;
	color: #333;
}
.padding20{
	padding: 0 20px;
}
.padding2020{
	padding: 20px;
}
#payment_execution #cart_summary thead{
	display: block;
}
#payment_execution #cart_summary thead tr,
#payment_execution .table tfoot tr{
	background: none;
}
#payment_execution #cart_summary tfoot td.price{
	padding-right: 8px;
}
#payment_execution .navicart_extra a{
	color: #868686;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
#payment_execution .navicart_extra .cart_navigation{
	background: none;
}
#payment_execution .cheque-box h2{
	padding-left: 0;
}
#payment_execution .dark{
	font-size: 14px;
}
#payment_execution .cheque-box p{
	font-size: 14px;
	color: #333;
	font-weight: 400;
}
#payment_execution .cheque-box p .price{
	color: #333;
	font-weight: 600;
}
#payment_execution .button.button-medium{
	margin-top: 20px;
	line-height: 1;
}

.page-heading span.infoh{
	display: block;
	font-size: 18px;
	font-weight: 200;
	margin-top: 10px;
}
.paymentinfo{
	font-size: 16px;
	color: #333;
	line-height: 24px;
}
.paymentinfo strong{
	font-size: 16px;
	color: #333;
	font-weight: 600;
}

dl {
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0;
}
#cart dl dd,
#cart dl dt {
	background: #ebebeb;
	flex: 0 0 45%;
	margin: 0.125rem;
	padding: 0.625rem;
}
dl dt {
	font-weight: normal;
}

#payment_button_url{
	padding: 8px 15px;
	font-size: 14px;

}

#columns > .row{
	/*display: none*/
}
.footer-container #footer{
	/*padding-top: 60px;*/
}
div.radio{
	cursor: pointer;
}

.plusmargin{
	margin-bottom: 15px;
}
.plusmargin .page-heading{
	font-size: 18px;
	padding: 20px 0;
}
.platnosci_block_right{
	color: #333;
	font-size: 14px;
	font-weight: 400;
}
.paiement_block{
	margin-top: 20px;
}

.delivery_options .delivery_option:first-of-type{
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.delivery_options > .delivery_option tr td:nth-of-type(2),
.delivery_options > .delivery_option tr td:nth-of-type(3),
.delivery_options > .delivery_option tr td:nth-of-type(4),
.payment_module label{
	cursor: pointer;
}
.payment_module label img{
	max-height: 20px;
	width: auto;
	margin-left: 20px;
}
#payment_button_url{
	text-transform: uppercase;
}
#module-przelewy24-paymentConfirmation .cart_navigation{
	background: #fff;
}
.navigation_cart .edit{
	float: right;
	font-size: 14px;
	color: #666666;
}
.navigation_cart .edit:hover{
	text-decoration: underline;
}
.navigation_cart .edit .icon-edit:before{
	content: '\f040';
}
#identity #account_login_forms form{
	display: block;
}
#identity fieldset > div.navig{
	margin: 15px 0 0 !important;
}
#identity .tright{
	text-align: right;
}

#address .form-group.phone-number{
	width: 100%;
}
.padding30.order17{
	padding: 30px 55px;
}
#HOOK_SHOPPING_CART #crossselling_list{
	padding-bottom: 30px;
}

#add_address .col-sm-3, #account-creation_form .col-sm-3, #login_form .col-sm-3 {
	text-align: right;
}
#add_address .col-sm-3 label, #account-creation_form .col-sm-3 label, #login_form .col-sm-3 label {
	padding-top: 10px;
}

.icon-check{
	color: #7dc090;

}

#crossselling_list ul.product_list.grid > li{
	width: 33.3333%
}
#freeshipping_price{
	margin-bottom: 30px;
	color: #333;
	font-size: 14px;
	font-weight: 400;
}
#freeshipping_price span{
	font-weight: bold;
}

#payment_execution .button.button-medium span{
	padding: 12px 10px;
}
#payment_execution .button.button-medium span#proceedPaymentLink{
	padding: 12px 5px;
}
.cheque-box2{
	font-size: 14px;
	color: #333;
	font-weight: 400;
	margin-top: 30px;
}
.cheque-box2 > div{
	float: left;
	min-width: 10%;
}
.cheque-box2 > label{
	float: left;
	width: 74%;
	font-weight: 400;
}
.cheque-box2 a{
	color: #333;
	font-weight: 600;
}
.cheque-box2 a:hover{
	text-decoration: underline;
}

.form-ok input,
.form-ok textarea {
	border: 1px solid #46a74e;
	color: #35b33f;
}
.form-error input, .form-error textarea {
	border: 1px solid #f13340;
	color: #f13340;
}
#sohoshopraifeisenpay{
	padding-bottom: 30px;
}

@media (min-width: 992px){
	#HOOK_SHOPPING_CART #crossselling_list_car > li{
		width: 33.3333%;
	}
}
@media (max-width: 1199px){
	#cart_navigation .btn{
		white-space: normal;
	}


	
}
@media (min-width: 992px) and (max-width: 1199px){
	#shopping-cart-right {
	    border: 1px solid #cccccd;
	    padding: 19px 10px;
		margin-left: -15px;	    
	}	
}
@media (max-width: 991px){
	#cart_summary{
		display: block;
	}
	#cart_summary > tbody > tr,
	#cart_summary > tbody > tr > td{
		display: block;
		float: left;		
	}
	#cart_summary tbody td.cart_product {
		width: 50%;
		padding: 0;	
	}    
	#account_login_forms .account_buttons a{
		width: 100%;
		margin: 0;
	}
	#cart_summary tbody td.cart_product + td { 
		width: 50%; 
		padding: 0;
		margin-top: 10%;
	}
	#cart_summary tbody td.cart_description { 
		width: 100%;
		padding: 0;
		float: right;
		margin-bottom: 20px;
		clear: both;
	}
	#cart_summary tbody td.cart_quantity {
		clear: both;
		width: 40%;
	}
	#cart_summary tbody td.cart_total{
		text-align: center;
		width: 40%;		
	}
	#account_login_forms .account_buttons:first-of-type a{
		margin: 0 0 15px;
	}
	#account_login_forms .cart_left_padding{
		padding: 0;
	}
	#address .form-group .form-control, #identity .form-group .form-control, #account-creation_form .form-group .form-control, #new_account_form .form-group .form-control, #opc_account_form .form-group .form-control, #authentication .form-group .form-control{
		max-width: 100%;
	}
	#account_login_forms #submitAccount, #login_form #SubmitLogin{
		width: 100%;
	}
	#cart_block .addresses > div > div {
		clear: left;
	}
	#order .delivery_option > div > table.resume td.delivery_option_logo, #order-opc .delivery_option > div > table.resume td.delivery_option_logo{
		display: none;
	}
	.paiement_block .cart_navigation .button-medium{
		text-align: center;
		margin-top: 20px;
	}
	#order-detail-content.ordersum #cart_summary tfoot,
	#order-detail-content.ordersum #cart_summary tfoot > tr{
		width: 100%;
		display: inline-block;
	}
	#order-detail-content.ordersum #cart_summary tr td{
		float: left;
		width: 50%;
	}
	#order-detail-content.ordersum #cart_summary tr.next td{
		width: 100%;
	}
	#module-przelewy24-paymentConfirmation #cart_summary tfoot,
	#module-przelewy24-paymentConfirmation #cart_summary tbody,
	#module-bankwire-payment #cart_summary tfoot,
	#module-bankwire-payment #cart_summary tbody{
		display: inline-block;
	}
	#module-przelewy24-paymentConfirmation #cart_summary tbody td.cart_quantity,
	#module-przelewy24-paymentConfirmation #cart_summary tbody td.cart_total,
	#module-bankwire-payment #cart_summary tbody td.cart_quantity,
	#module-bankwire-payment #cart_summary tbody td.cart_total{
		width: 50%;
	}
	#module-przelewy24-paymentConfirmation #cart_summary tbody td.cart_description .price,
	#module-przelewy24-paymentConfirmation #cart_summary tbody td.cart_total,
	#module-bankwire-payment #cart_summary tbody td.cart_description .price,
	#module-bankwire-payment #cart_summary tbody td.cart_total{
		text-align: right;
	}
	#crossselling_list ul.product_list.grid > li{
		width: 100%;
	}
	#authentication .box, #account-creation_form{
		padding: 0;
	}
}

@media (max-width: 768px){
	#order #cart_summary.table td{
		white-space: normal;

	}
}

@media (max-width: 767px){
	#shopping-cart-right {
		margin-top:20px;
	}
	#shopping-cart-right #cart_summary tfoot td {
		float:left;
		width:50%;		
	}	
	#order-detail-content{
		border: none;
	}
	#cart_summary > tbody > tr,
	#order-detail-content #cart_summary tr,
	.table-responsive,
	#cart_summary .cart_total_price,
	#cart_summary tfoot,
	#cart_summary tfoot tr{
		width: 100%;
		background: none;
	}
	#cart_summary tfoot,
	#cart_summary tfoot tr{
		display: inline-block;
	}
	#cart_summary tfoot tr td{
		float: left;
	}
	#cart_summary tbody td.cart_product{
		width: 40%;
	}
	#cart_summary tbody td.cart_description{
		width: 60%;
	}
	#cart_summary tbody td.cart_quantity{
		clear: left;
	}
	#cart_summary tbody td.cart_total{
		text-align: left;
	}
	#order-detail-content.voucher_form td{
		float: left;
		width: 100%;
	}
	#cart_summary tfoot > tr.next td{
		width: 100%;
	}
	.padding30 .cart_navigation .button-medium,
	#carrier_area #form .button-medium{
		width: 320px;
		max-width: 100%;
		text-align: center;
	}
	#order-detail-content #cart_summary td::before{
		display: none;
	}
	#order-detail-content #cart_summary td.cart_product{
		width: 40%;
	}
	#order-detail-content #cart_summary td.cart_product + td{
		width: auto;
		padding: 0;
	}
	#order-detail-content #cart_summary tbody td.cart_description{
		width: 100%;
	}

	#order-detail-content #cart_summary td.cart_quantity{
		border: none;
	}
	#order-detail-content #cart_summary td.cart_delete{
		position: relative;
		top: auto;
		right: auto;
		width: 33.3333%;
	}
	#order-detail-content #cart_summary td.cart_total{
		text-align: center;
	}
	.SE_SubmitRefreshCard button{
		margin: 0 0 15px;
	}
	#add_address .col-sm-3,
	#account-creation_form .col-sm-3,
	#login_form .col-sm-3{
		text-align: left;
	}
	#cart_summary tfoot tr:last-of-type > td{
		width: 100% !important;
	}
	#total_price_container{
		padding: 7px 20px 7px 20px !important;
	}
}
@media (min-width: 480px) AND (max-width: 767px){
	#order-detail-content #cart_summary td.cart_delete a{
		text-align: center;
	}
	#order-detail-content #cart_summary td.cart_delete{
		text-align: left;
	}
}
@media (max-width: 600px){
	#order-detail-content #cart_summary td.cart_product {
	    width: 100%;
		text-align: center;	    
	}
	#order-detail-content #cart_summary td.cart_product + td {
		width: 100%;	
	}
}
@media (max-width: 479px){
	#cart_summary tbody,
	#cart_summary tbody td.cart_product,
	#cart_summary tbody td.cart_description{
		width: 100%;
		display: block;
	}
	.cart_voucher fieldset #discount_name{
		margin-bottom: 5px;
	}
	.cart_voucher fieldset #discount_name,
	.cart_voucher fieldset .button.button-small{
		width: 100%;
	}
	.account_check{
		height: auto;
	}
	.account_creation label{
		width: 100% !important;
	}
	#cart_summary > tbody > tr:last-child{
		border-bottom: 1px solid #efefef;
		margin-bottom: 20px;
	}
	#cart_summary tbody td{
		padding-left: 30px;
		padding-right: 30px;
	}
	#voucher fieldset{
		display: table-cell;
	}
	.vou_info,
	.product-name,
	#payment_execution #cart_summary tfoot td{
		white-space: normal;
	}
	#add_address .form-group,
	#address #add_address .phone-number{
		width: 100%;
	}
	#payment_execution .button.button-medium span{
		vertical-align: top;
	}
	#order-detail-content #cart_summary td.cart_total, #order-detail-content #cart_summary td.cart_quantity, #order-detail-content #cart_summary td.cart_delete{
		width: 100%;
	}
	#order-detail-content #cart_summary td.cart_quantity{
		margin-left: 0;
	}
	#order-detail-content #cart_summary td.cart_total{
		text-align: left;
	}
	#availableCarriers .carrier_infos{
		display: none;
	}
	.padding30.order17,
	#add_address.padding30	{
		padding: 30px;
	}
	#uniform-id_address_delivery,
	#add_address.padding30{
		max-width: 100%;
	}
	.account_creation {
		padding: 30px;
	}
}

#cart_summary tbody td.cart_description li.price::after{
	content: ' (brutto)';
}
#cart_summary tbody td.cart_description li.price-netto::after{
	content: ' (netto)';
}

#order-detail-content .cart_voucher{
	color: #333;
	font-size: 14px;
}
.cart_voucher fieldset .button.button-small span:hover,
.cart_voucher fieldset .button.button-small:hover span{
	background: none;
}

#order .page-heading span, .navigation_cart li em{
	display: inline-block;

}
#cart_summary .button.button-medium{
	background: #292a62 none repeat scroll 0 0;
	border: medium none;
	color: #fff;
	display: block;
	height: auto;
	position: relative;
	width: 100%;
	text-align: center;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	margin-top: 12px;
	padding: 0;
}
#cart_summary .button.button-medium:hover {
	background: #515575 none repeat scroll 0 0;    
}

#cart_summary .button.button-medium span {
	display: block;
	line-height: inherit;
	border: none;
	padding: 10px 10px 10px 14px;
	font-size: inherit;
	text-transform: none;
}
#login_form .form-group.lost_password{
	text-align: left;
	margin: 0 0 20px;
}
.vat_info {
    display: inline-block;
    width: 100%;
    color: #e50046;
    padding: 0;
	font-size: 12px;
}
@media (min-width: 768px) and (max-width: 991px){
	#add_address .col-sm-3,
	#add_address .col-sm-9{
		text-align: left;
		width: 100%;
	}
	#add_address .form-group{
		margin-bottom: 0;
	}
}
.address_delivery .form-control,
.address_delivery div.selector span,
#address_invoice_form .form-control,
#address_invoice_form div.selector span{
	max-width: 100%;
}
.order_carrier_content .agree .checker{
	width: 54px;
	margin-right: 0;
}