/*******************************************************
Product list Styles
********************************************************/
ul.product_list .product-name {
    display: inline-block;
    width: 100%;
    overflow: hidden; }
ul.product_list .availability span {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    padding: 3px 8px 4px 8px;
    margin-bottom: 20px; }
ul.product_list .color-list-container {
    margin-bottom: 12px; }
ul.product_list .color-list-container ul li {
    display: inline-block;
    border: 1px solid #d6d4d4;
    width: 26px;
    height: 26px; }
ul.product_list .color-list-container ul li a {
    display: block;
    width: 22px;
    height: 22px;
    margin: 1px; }
ul.product_list .color-list-container ul li a img {
    display: block;
    width: 22px;
    height: 22px; }
ul.product_list .product-image-container {
    text-align: center; }
ul.product_list .product-image-container img {
    margin: 0 auto; }
ul.product_list .product-image-container .quick-view-wrapper-mobile {
    display: none; }
ul.product_list .product-image-container .quick-view-wrapper-mobile .quick-view-mobile {
    display: none; }
@media (max-width: 1199px) {
    ul.product_list .product-image-container .quick-view-wrapper-mobile .quick-view-mobile {
        display: block;
        position: relative;
        background-color: rgba(208, 208, 211, 0.57);
        height: 130px;
        width: 85px;
        top: 80px;
        right: -162px;
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        zoom: 1;
        pointer-events: all; }
    ul.product_list .product-image-container .quick-view-wrapper-mobile .quick-view-mobile i {
        position: relative;
        top: 48px;
        left: -20px;
        font-size: x-large;
        color: black; }
    ul.product_list .product-image-container .quick-view-wrapper-mobile .quick-view-mobile i:before {
        -moz-transform: rotate(315deg);
        -o-transform: rotate(315deg);
        -webkit-transform: rotate(315deg);
        -ms-transform: rotate(315deg);
        transform: rotate(315deg); } }
@media (max-width: 1199px) {
    ul.product_list .product-image-container .quick-view-wrapper-mobile .quick-view-mobile:hover {
        background-color: rgba(167, 167, 167, 0.57); } }
@media (max-width: 1199px) {
    ul.product_list .product-image-container .quick-view-wrapper-mobile {
        display: block;
        background-color: transparent;
        height: 155px;
        width: 215px;
        position: absolute;
        overflow: hidden;
        pointer-events: none;
        bottom: 0px;
        right: 0px; } }
ul.product_list .product-image-container .quick-view {
    font: 700 13px/16px Arial, Helvetica, sans-serif;
    color: #777676;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -21px 0 0 -53px;
    padding: 13px 0 0;
    background: rgba(255, 255, 255, 0.82);
    width: 107px;
    height: 43px;
    text-align: center;
    -moz-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px; }
@media (max-width: 1199px) {
    ul.product_list .product-image-container .quick-view {
        display: none; } }
@media (min-width: 1200px) {
    ul.product_list .product-image-container .quick-view {
        display: none; } }
@media (max-width: 767px) {
    ul.product_list .product-image-container .quick-view {
        display: none; } }
ul.product_list .comments_note {
    text-align: left;
    overflow: hidden; }
ul.product_list .comments_note .star_content {
    float: left; }
ul.product_list .comments_note .nb-comments {
    overflow: hidden;
    font-style: italic; }
ul.product_list .functional-buttons div a, ul.product_list .functional-buttons div label {
    font-weight: bold;
    color: #777676;
    cursor: pointer; }
ul.product_list .functional-buttons div a:hover, ul.product_list .functional-buttons div label:hover {
    color: #000; }
ul.product_list .functional-buttons div.wishlist {
    border-right: 1px solid #d6d4d4; }
ul.product_list .functional-buttons div.wishlist a:before {
    display: inline-block;
    font-family: "FontAwesome";
    content: "\f08a";
    margin-right: 3px;
    padding: 0 3px; }
ul.product_list .functional-buttons div.wishlist a.checked:before {
    content: "\f004"; }
@media (min-width: 992px) and (max-width: 1199px) {
    ul.product_list .functional-buttons div.wishlist {
        border-right: 0; }
    ul.product_list .functional-buttons div.wishlist a:before {
        display: none; } }
@media (min-width: 480px) and (max-width: 767px) {
    ul.product_list .functional-buttons div.wishlist {
        border-right: 0; }
    ul.product_list .functional-buttons div.wishlist a:before {
        display: none; } }
ul.product_list .functional-buttons div.compare a:before {
    content: "\f067";
    display: inline-block;
    font-family: "FontAwesome";
    margin-right: 3px; }
@media (min-width: 992px) and (max-width: 1199px) {
    ul.product_list .functional-buttons div.compare a:before {
        display: none; } }
@media (min-width: 480px) and (max-width: 767px) {
    ul.product_list .functional-buttons div.compare a:before {
        display: none; } }
ul.product_list .functional-buttons div.compare a.checked:before {
    content: "\f068"; }

/*******************************************************
Product list(Grid) Styles
********************************************************/
ul.product_list.grid > li {
    padding-bottom: 20px;}

ul.product_list.grid > li .product-container {
    background: #fff;
    padding: 0;
    position: relative; }
ul.product_list.grid > li .product-container .product-image-container {
    /*padding: 9px;*/
    position: relative; }
@media (max-width: 767px) {
    ul.product_list.grid > li .product-container .product-image-container {
        margin-left: auto;
        margin-right: auto; } }
ul.product_list.grid > li .product-container .product-image-container .content_price {
    text-align: center;
    padding-bottom: 9px;
    line-height: 21px;
    display: none; }
ul.product_list.grid > li .product-container .product-image-container .content_price span { }
ul.product_list.grid > li .product-container .product-image-container .content_price span.old-price {
    color: #b1b0b0; }
ul.product_list.grid > li .product-container h5 {
    padding: 0 0 8px 0;
    min-height: 44px; }
@media (min-width: 1200px) {
    ul.product_list.grid > li .product-container .comments_note {
        display: none; } }
ul.product_list.grid > li .product-container .comments_note .star_content {
    margin: 0 3px 12px 59px; }


ul.product_list.grid > li .product-container .product-desc {
    font-family: 'Roboto Slab', serif;
    line-height:1.4em;
    font-size: 12px;
    color:#666;
}
ul.product_list.grid > li .product-container .content_price {
    text-align: center;    
    padding-bottom: 9px;
    line-height: 21px; }
ul.product_list.grid > li .product-container .old-price,
ul.product_list.grid > li .product-container .price,
ul.product_list.grid > li .product-container .price-percent-reduction {
    display: inline-block; }
ul.product_list.grid > li .product-container .product-flags {
    display: none; }
ul.product_list.grid > li .product-container .old-price {
    color:#b1b0b0    ;
    margin-right: 5px; }
ul.product_list.grid > li .product-container .button-container {
    margin-bottom: 14px; }
@media (min-width: 1200px) {
    ul.product_list.grid > li .product-container .button-container {
        display: none; } }
ul.product_list.grid > li .product-container .button-container .ajax_add_to_cart_button,
ul.product_list.grid > li .product-container .button-container span.button,
ul.product_list.grid > li .product-container .button-container .lnk_view {
    margin: 0 6px 10px 6px; }
ul.product_list.grid > li .product-container .functional-buttons {
    /*background: url(../img/functional-bt-shadow.png) repeat-x;*/
    padding: 11px 0 5px; }
@media (min-width: 1200px) {
    ul.product_list.grid > li .product-container .functional-buttons {
        display: none; } }
ul.product_list.grid > li .product-container .functional-buttons div {
    width: 50%;
    float: left;
    padding: 3px 0 4px 0; }
@media (min-width: 1200px) {
    ul.product_list.grid > li.hovered .product-container {
        position: relative;
        z-index: 10; }
    ul.product_list.grid > li.hovered .product-container .content_price {
        display: none; }
    ul.product_list.grid > li.hovered .product-container .product-image-container .content_price {
        display: block; }
    ul.product_list.grid > li.hovered .product-container .product-image-container .quick-view {
        display: block; }
    ul.product_list.grid > li.hovered .product-container .functional-buttons,
    ul.product_list.grid > li.hovered .product-container .button-container,
    ul.product_list.grid > li.hovered .product-container .comments_note {
        display: block; } }
@media (min-width: 992px) {
    ul.product_list.grid > li.first-in-line {
        clear: left; } }
@media (min-width: 480px) and (max-width: 991px) {
    ul.product_list.grid > li.first-item-of-tablet-line {
        clear: left; } }
ul.product_list.grid li.hovered h5 { }
@media (min-width: 1200px) {
    #blockpack ul > li.last-line {
        border: none;
        padding-bottom: 0;
        margin-bottom: 0; } }
@media (min-width: 480px) and (max-width: 767px) {
    #blockpack ul > li.first-item-of-tablet-line {
        clear: none; }
    #blockpack ul > li.first-item-of-mobile-line {
        clear: left; } }

/*******************************************************
Product list(List) Styles
********************************************************/
@media (max-width: 479px) {
    ul.product_list.list > li .left-block {
        width: 100%; } }
ul.product_list.list > li .product-container {
    border-top: 1px solid #d6d4d4;
    padding: 30px 0 30px; }
ul.product_list.list > li .product-image-container {
    position: relative;
    border: 1px solid #d6d4d4;
    padding: 9px; }
@media (max-width: 479px) {
    ul.product_list.list > li .product-image-container {
        max-width: 290px;
        margin: 0 auto; } }
ul.product_list.list > li .product-image-container .content_price {
    display: none !important; }
ul.product_list.list > li .product-flags {
    color: #333;
    margin: -5px 0 10px 0; }
ul.product_list.list > li .product-flags .discount {
    color: #f13340; }
ul.product_list.list > li h5 {
    padding-bottom: 8px; }
ul.product_list.list > li .product-desc {
    margin-bottom: 15px; }
@media (max-width: 479px) {
    ul.product_list.list > li .center-block {
        width: 100%; } }
ul.product_list.list > li .center-block .comments_note {
    margin-bottom: 12px; }
@media (min-width: 992px) {
    ul.product_list.list > li .right-block .right-block-content {
        margin: 0;
        border-left: 1px solid #d6d4d4;
        padding-left: 15px;
        padding-bottom: 16px; } }
@media (max-width: 991px) {
    ul.product_list.list > li .right-block .right-block-content {
        padding-top: 20px; } }
@media (max-width: 479px) {
    ul.product_list.list > li .right-block .right-block-content {
        padding-top: 5px; } }
ul.product_list.list > li .right-block .right-block-content .content_price {
    padding-bottom: 10px; }
@media (max-width: 991px) {
    ul.product_list.list > li .right-block .right-block-content .content_price {
        padding-top: 13px;
        padding-bottom: 0; } }
@media (max-width: 479px) {
    ul.product_list.list > li .right-block .right-block-content .content_price {
        padding-top: 0;
        width: 100%; } }
ul.product_list.list > li .right-block .right-block-content .content_price .price {
    display: inline-block;
    margin-top: -4px;
    margin-bottom: 14px; }
ul.product_list.list > li .right-block .right-block-content .content_price .price.old-price {
    margin-right: 8px; }
ul.product_list.list > li .right-block .right-block-content .button-container {
    overflow: hidden;
    padding-bottom: 20px; }
@media (max-width: 479px) {
    ul.product_list.list > li .right-block .right-block-content .button-container {
        width: 100%; } }
ul.product_list.list > li .right-block .right-block-content .button-container .btn {
    margin-bottom: 10px; }
@media (min-width: 992px) {
    ul.product_list.list > li .right-block .right-block-content .button-container .btn {
        float: left;
        clear: both; } }
@media (min-width: 992px) {
    ul.product_list.list > li .right-block .right-block-content .functional-buttons {
        overflow: hidden; } }
@media (max-width: 991px) {
    ul.product_list.list > li .right-block .right-block-content .functional-buttons {
        clear: both; }
    ul.product_list.list > li .right-block .right-block-content .functional-buttons > div {
        float: left;
        padding-top: 0 !important;
        padding-right: 20px; } }
@media (max-width: 479px) {
    ul.product_list.list > li .right-block .right-block-content .functional-buttons {
        float: none;
        display: inline-block; }
    ul.product_list.list > li .right-block .right-block-content .functional-buttons a i, ul.product_list.list > li .right-block .right-block-content .functional-buttons a:before, ul.product_list.list > li .right-block .right-block-content .functional-buttons label i, ul.product_list.list > li .right-block .right-block-content .functional-buttons label:before {
        display: none !important; } }
ul.product_list.list > li .right-block .right-block-content .functional-buttons a {
    cursor: pointer; }
ul.product_list.list > li .right-block .right-block-content .functional-buttons .wishlist {
    border: none; }
ul.product_list.list > li .right-block .right-block-content .functional-buttons .compare {
    padding-top: 10px; }
ul.product_list.list > li .right-block .right-block-content .functional-buttons .compare a:before {
    margin-right: 10px; }
@media (min-width: 1200px) {
    ul.product_list.list > li:hover .product-image-container .quick-view {
        display: block; } }
@media (max-width: 479px) {
    ul.product_list.list > li {
        text-align: center; } }

/*******************************************************
Product list(Index page) Styles
********************************************************/
#index ul.product_list.tab-pane > li {
    padding-bottom: 10px;
    margin-bottom: 10px; }
@media (min-width: 1200px) {
    #index ul.product_list.tab-pane > li {
        padding-bottom: 85px;
        margin-bottom: 0; } }
#index ul.product_list.tab-pane > li .availability {
    display: none; }
@media (min-width: 1200px) {
    #index ul.product_list.tab-pane > li.last-line {
        border: none;
        padding-bottom: 0;
        margin-bottom: 0; } }
@media (min-width: 480px) and (max-width: 767px) {
    #index ul.product_list.tab-pane > li.first-item-of-tablet-line {
        clear: none; }
    #index ul.product_list.tab-pane > li.first-item-of-mobile-line {
        clear: left; } }

/***** IE code *****/
.ie8 .quick-view {
    background: #fff;
    border: 1px solid #d6d4d4; }

/*# sourceMappingURL=product_list.css.map */
.availability{
    display: none;
}
ul.product_list.grid > li .content_price .prices {
    width:calc(100% - 45px);
    height: 40px;
    color: #252b53;
    border: solid 2px #252b53; 

}
ul.product_list.grid > li .content_price .more-link {
    width:40px;
    height: 40px;
    float:right;

}
ul.product_list.grid > li .content_price .more-link a{
    display: block;
    background-color: #7dc090;
    color: #fff;
    text-align: center;
    line-height: 36px;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    height: 100%;
}
ul.product_list.grid > li .content_price .more-link a:hover{
    background-color: #97CDA6;    
}

.exclusive-product-list {
    font-family: 'Roboto Slab', serif;
    color: #000;
    font-weight:400;
    font-size: 15px;
    left:5px;
    /*margin-top: -16px;*/
    /*margin-bottom: 16px;*/
}

.exclusive-product-list img {
    margin-right: 10px !important;
    margin-top:-3px !important;
}
.content_sortPagiBar{
	margin-bottom: 50px;
}
@media (max-width: 991px) and (min-width:772px) {
    ul#homefeatured-home.product_list.grid > li:nth-of-type(n+7) {
        display: none;
    }   
    ul#blockakcesoria-home.product_list.grid > li:nth-of-type(n+4) {
        display: none;    
    }

}
@media (max-width: 1199px) and (min-width:992px) {
    ul.product_list.grid > li .product-container h5{
        min-height: 70px;
    }
}