/**
*
* NOTICE OF LICENSE
*
*/
/*css reset*/
#content .row{
    background:none;
    margin-bottom:5px;
}
#content label{
    text-align:left;
}
#content .form-group{
    margin:10px -5px;

}
#content .form-group:before, #content .form-group:after{
    content:"";
    display:table;
}
#content .form-group:after {
    clear: both;
}
#content{
    background:#EFF1F2;
}
#content fieldset{
    background: #fff;
    border:0;
    box-sizing: border-box;
}
#content fieldset legend{
    width:100%;
    padding:10px;
    font-size:16px;
    background:#bdc3cd;
    color:#fff;
    margin:0;
    border:0;
    box-sizing: border-box;
}

#content .container-fluid{
    padding:0;
}
.q-info{
    background:#fff;

    margin:15px 15px;
}
.q-info p{
    padding:20px;
    margin-bottom:0;
}
.q-info img{
    padding:20px;
    margin:0 auto;
}

#q-big-navbar{
    padding:0;
}
#q-big-navbar li a{
    padding:25px;
    font-size:14px;
    color:#676d76;
    border-right:1px solid #676d76;
    box-sizing:border-box;
    font-weight: bolder;
    text-align:center;
    background:#2e3641;
}
#q-big-navbar li a:active, #q-big-navbar li a:hover{
    color:#fff;
}
.nav.navbar-nav li.active a {
    color: #fff!important;
}

/*media query*/

@media all and (max-width:1200px){
    #q-big-navbar li a{
        padding:10px;
    }
    .menu_inpost li a i{
        width:100%;
        text-align:center;
        padding:0!important;
    }
    .control-label{
        width:100%!important;
        text-align:center!important;
    }
}
@media all and (max-width:1024px){
    #q-big-navbar li a{
        text-align:center;
        font-size:12px;
        padding:10px;
    }
}
@media (max-width:767px){
    .navbar-header{
        display:none;
    }
    #q-big-navbar{
        border:0;
    }
    #q-big-navbar ul{
        width:100%;
        margin:0;
        text-align: left;
    }
    #q-big-navbar li a{
        padding:10px;
        border:0;
        border-bottom:1px solid #676d76;
        width:100%;
        text-align: left;
    }
    .menu_inpost li a i {
        width:auto;
        text-align: left;
        margin:0 20px;

    }
}
#content{
    font-family: 'Open Sans';
}
#content .panel {
    border-radius: 0!important;
    border:0!important;
    box-shadow:none!important;
    background:#fff;
}
#content .panel .panel-heading{
    background:#bdc3cd;
    color:#fff!important;
    font-weight: bold;
    padding:5px 10px;
    font-size:14px;
    font-family: 'Open Sans';
    line-height:1.5;
    border-radius: 0;
    margin-left:-20px;
    margin-right:-20px;

}
#content .panel .panel-footer{
    height:auto;
    min-height:50px;
    border:0;
}
#content .panel .panel-heading i{
    display:none;
}
#content .btn, button[type="submit"], input[type="submit"]{
    color:#fff;
    padding:7px 25px;
    border-radius:0;
    border:0;
    text-transform: uppercase;
    font-weight: bold;
}
#content .btn.dropdown-toggle{
    padding:8px;
}
#content .dropdown-menu a{
    color:#2e3641;
}
#content .dropdown-menu a i{
    color:#2e3641;
}
#content .btn:not(.btn-danger), #content button[type="submit"], #content input[type="submit"]{
    background: #3fb8af;
    text-shadow:none;
}
#content .btn.edit{
    background:#fff;
    border:1px solid #bdc3cd;
    color:#bdc3cd;
}
#content button[type='submit'] i, #content .edit i{
    display:none;
}

#content .price, #content .q-bg{
    background: #bdc3cd;
    font-weight: bold;
}
#content label, #content table td{
    font-weight: bold;
}
#content label, #content table td.last{
    min-width:72px;
}
#content table thead th{
    background:#bdc3cd;
    font-weight:bold;
    border:0;
    padding-top:10px;
    padding-bottom:10px;
}
#content table thead th .title_box{
    padding-top:10px;
}
#content table{
    margin-bottom:40px;
}
#content table i{
    color:#fff;
}
#content table input, #content table span{
    border:0;
    border-radius: 0;
}
#content table .input-group i{
    color:#676d76;
}


#content select {
    background:#bdc3cd;
    color:#676d76;
    font-weight: bold;
    border-radius: 0;
    border:0;
    position:relative;
    padding:5px;
}
#content select::after{
    display:block!important;
    width:20px!important;
    height:20px!important;
    background: #2e3641!important;
    font-family: "FontAwesome"!important;
    content:">"!important;
    color:#fff;
    position:absolute;
    right:-20px;
    top:0;
}

#content .input-group span{
    border-right:1px solid #fff;
}
#content table.q-table{
    border:0;
}
#content .q-table tr{
    padding:10px;
    border:1px solid #fff;
}
#content .q-table tr td{
    padding:20px;
    background:#bdc3cd;
}

#content .badge{
    width:20px;
    height:20px;
    text-align:center;
    position:absolute;
    top:5px;
    line-height:1.8;
    font-size:10px;
    background: #3fb8af;
    right:5px;
}

#content .table-responsive-row{
    width:100%;
    max-width:100%;
    width: 100%;
    margin-bottom: 12.75px;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}
.bootstrap .bulk-actions{
    margin:0 10px 5px 0!important;
}
.bootstrap .q-fix .row{
    margin-bottom: 5px;
}
.bootstrap .q-fix label{
    margin-bottom:5px;
}

.parcel_locker_cod, .parcel_locker, .xborder
{
    padding-left: 10px;
}

.q-form{
    margin:0;
    padding:0;
    width:100%;
    max-width:100%;
    padding-right:10px;
}
.q-form .inner{
    background:#a7aeb9;
    padding:10px;
}
.q-form input{
    margin-bottom:5px;
}
.q-actions .btn{
    margin-right: 10px;
    margin-bottom:5px;
}
#content input[type='text'], #content input[type='password'], #content .input-group span{
    border:0;
    background-color:#eaedf2;
    border-radius: 0;
    width:100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
#content sup, #content sub{
    vertical-align:middle;
    margin:0;
    position:relative;
    display:block;
    top:3px;
    right:5px;
}
#content .margin-form sup, #content .margin-form sub{
    top:-20px;
}
#content .control-label{
    font-size:14px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-shadow:none;
    text-align:right;
}
#content .filter input{
    border:1px solid #aaa;
}
#content .container-fluid>.navbar-collapse, #content  .container-fluid>.navbar-header, #content  .container>.navbar-collapse, #content .container>.navbar-header{
    margin:0;
}

.module_error.alert.error {
    padding-left: 40px!important;
}

.module_confirmation.conf.confirm {
    min-height: 50px!important;
}
