/* Home hook CSS */

#htmlcontent_home ul li {
	position: relative; }
.item-html{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0 5px 10px;
	display: flex;
	flex-direction: column;    
}

.item-html h2{
	margin-left: 65px; 
	margin-right: 65px;
	margin-top: 42px;
	font-size: 48px;
	font-weight: bold;
	color: #000000;
}

.item-html p{
	margin-left: 65px;
	margin-right: 65px;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	line-height: 14px;
}
@media (min-width:768px) and (max-width:991px){
	.item-html h2{
		font-size: 26px;
	}
	.item-html p {
		font-size: 16px;
		line-height: 1;
		font-weight: 400;
	}
}
.item-html button{
	margin-top: auto;
	align-self: flex-end;
	margin-bottom: 30px;
	margin-right: 70px; 
	font-size: 14px;
	display: inline-block;
	background-color: #7dc090;
	color: white;
	text-transform: uppercase;
	padding: 10px 15px 10px 15px;
	border: none;
}




@media(min-width:992px){
	#htmlcontent_home{
		margin-bottom: 90px;
	} 
	.item-html{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 0 5px 10px;
		display: flex;
		flex-direction: column;    
	}
	.item-html h2{
		margin-left: 65px; 
		margin-right: 65px;
		margin-top: 42px;
		font-size: 32px;
		font-weight: bold;
		color: #000000;
	}
	.item-html p{
		margin-left: 65px;
		margin-right: 65px;
		font-size: 14px;
		font-weight: bold;
		color: #000000;
		line-height: 14px;
	}
	.item-html button{
		margin-top: auto;
		align-self: flex-end;
		margin-bottom: 30px;
		margin-right: 70px; 
		font-size: 16px;
		display: inline-block;
		background-color: #7dc090;
		color: white;
		text-transform: uppercase;
		padding: 10px 15px 10px 15px;
		border: none;
	}
}




@media(min-width:1025px){
	#htmlcontent_home{
		margin-bottom: 90px;
	} 
	.item-html h2{
		margin-left: 55px; 
		margin-top: 42px;
		font-size: 48px;
		font-weight: bold;
		color: #000000;
	}
	.item-html p{
		margin-left: 55px;
		font-size: 18px;
		font-weight: bold;
		color: #000000;
		line-height: 22px;
	}
	.item-html button{
		margin-top: auto;
		align-self: flex-end;
		margin-bottom: 60px;
		margin-right: 80px; 
    
		font-size: 18px;
		display: inline-block;
		background-color: #7dc090;
		color: white;
		text-transform: uppercase;
		padding: 14px 27px;
		border: none;
	}
}
@media (max-width: 479px) {
	#htmlcontent_home{
		margin-bottom: 30px;
	} 
	#htmlcontent_home ul li {
		width: 100%; }
}
#htmlcontent_home ul li img {
	max-width: 100%;
	height: auto; }
@media (max-width: 479px) {

	#htmlcontent_home ul li img {
		min-width: 100%; }
}
#htmlcontent_home ul li.htmlcontent-item-5 {
	width: 66.6667%; }
@media (max-width: 479px) {
	#htmlcontent_home ul li.htmlcontent-item-5 {
		width: 100%; }
	#htmlcontent_home{
		display: none;
	}
}

/* Top hook CSS */
#htmlcontent_top {
	float: right;
	width: 33%;
	max-width: 391px;
	padding-left: 5px;
}
@media (max-width: 767px) {
	#htmlcontent_top {
		width: 100%;
		max-width: 100%;
		padding-left: 0;
		padding-top: 0px; }
}
@media (max-width: 767px) {
	#htmlcontent_top ul {
		margin: 0 -5px; }
}
#htmlcontent_top ul li {
	width: 100%;
	margin-bottom: 10px; }
@media (max-width: 767px) {

	.item-html h2 {
		font-size: 24px;
		font-weight: bold;
		color: #000000;        
	}

	.item-html p {
		line-height: 1;
	}
}
#htmlcontent_top ul li:last-child {
	margin-bottom: 0; }
#htmlcontent_top ul li img {
	max-width: 100%;
	height: auto; }

/* Left hook CSS */
/* Right hook CSS */
/* Footer hook CSS */
.item-html button:hover{
	background-color: #97CDA6;
}
@media (max-width: 599px) {
    .item-html p,.item-html h2  {
            margin-left: 65px;
            margin-right: 65px;	

    }
    .item-html p {
            line-height: 1;
            font-weight: 400;
    }
}