#search_block_top {
    float: right;
    margin-left: -40px;
}

#search_block_top #searchbox {
    float: left;
}

#search_block_top #searchbox > div {  
    height: 32px;    
    border: 1px solid #252b53;
    position: relative;    
}

#search_block_top .btn.button-search span {
    display: none;
}

#search_block_top .btn.button-search {
    background: #000;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 2px;
}

#search_block_top .btn.button-search:before {
    content: "\f002";
    font-family: "FontAwesome";
    font-size: 17px;
    width: 100%;
    text-align: center;
}

#search_block_top .btn.button-search:hover {
    color: #fff;
    background: rgba(41,42,98,0.75);
}

#search_block_top #search_query_top {
    padding: 0 15px;
    height: 30px;
    background: #fbfbfb;
    width: 260px;
    font-weight: 400;
    color: #000;
    border: none;
    margin: 0;
    line-height: 30px;
    font-size: 12px;
}

.ac_results {
    background: #fff;
    border: 1px solid #d6d4d4;
    width: 271px;
    margin-top: -1px;
}

.ac_results li {
    padding: 0 10px;
    font-weight: normal;
    color: #686666;
    font-size: 13px;
    line-height: 22px;
}

.ac_results li.ac_odd {
    background: #fff;
}

.ac_results li:hover, .ac_results li.ac_over {
    background: #fbfbfb;
}

#search_block_top form#searchbox {
    position: absolute;
    top: 0;
    right: 280px;
    display: none;
    z-index: 99;
}
#search_block_top form#searchbox.active{
    display: block;
}

form#searchbox label {
    color: #333;
}

form#searchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left;
}

form#searchbox .button.button-small {
    float: left;
}

form#searchbox .button.button-small i {
    margin-right: 0;
}

#search_button {
    width: 66px;
    position: relative;
    float: right;
    text-align: center;
    height: 100%;
    cursor: pointer;
}
#search_button:hover{
    background: #f4f4f4;
}

#search_button > b {
    display: block;
    font-size:14px;
    font-weight: 200;
    color:#c9c9c9;
}
#layer_search_overlay{
    display: none;
    background: rgba(0, 0, 0, 0.45);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 98;
}
#search_block_down{
    display: none;
}
#search_block_down{
    position: absolute;
    width: 100%;
    height: auto;
    top: 100%;
    background: #f4f4f4;
    border: 1px solid #d6d6d6;
    padding: 10px;
    z-index: 99;
    right: 0;
    max-height: 510px;
    overflow-y: auto;
}
#search_block_down .head{
    border-bottom: 1px solid #d6d6d6;
}
#search_block_down .head .h{
    color: #2d292a;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    padding: 15px 5px;
    display: inline-block;
}
#search_block_down .head .h a{
    color: #2d292a;
}
#search_block_down .head .h a:hover{
    text-decoration: underline;
}
#search_block_down .head .h:after{
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    background: #ff447d;
    width: 100%;
    height: 2px;
}
#search_block_down .sub .result_item{
    border-bottom: 1px solid #d6d6d6;
    display: inline-block;
    padding: 5px 10px;
    width: 100%;
}
#search_block_down .sub .result_item:last-of-type{
    border: none;
}
#search_block_down .sub .result_item a{
    color: #333;
    font-weight: 500;
    font-size: 18px;
}
#search_block_down .sub .result_item a .priceright{
    float: right;
    font-weight: 900;
}
#search_block_down .sub .result_item a:hover{
    text-decoration: underline;
}
#search_block_down .sub .result_item img{
    max-width: 60px;
    height: auto;
    margin-right: 15px;
}
#search_button:hover > b {
    color: #292a62;
    font-weight: 400;
}

/*# sourceMappingURL=blocksearch.css.map */
@media (max-width: 1199px) {

    #search_button{
        padding: 0;    
    }
    #search_block_top {
        height: auto;
        float: none;
        position: absolute;
        top: 25px;
        right: 210px;
        width: 66px;
    }  
    #search_block_top form#searchbox{
        right: 60px;
        padding: 0;
        width: 230px;        
    }  
    #search_block_top #search_query_top{
        width: 100%
    }    
}
@media (max-width: 767px) {
	#search_block_top {
        height: auto;
        float: right;
        position: relative;
        top: auto;
        right: auto;
        width: 60px;
		ddisplay: inline-block;
    }
	#search_button {
		padding: 32px 0 30px;
	}
	#search_block_top form#searchbox {
		left: -130px;
		padding: 0;
		width: 280px;
		top: 100%;
	}
}
@media (max-width: 599px) {
	#search_block_top form#searchbox {
		left: -65px;
	}
}