/**
 * NOTICE OF LICENSE
 *
 * This file is licenced under the Software License Agreement.
 * With the purchase or the installation of the software in your application
 * you accept the licence agreement.
 *
 * Orbitvu PHP  Orbitvu eCommerce administration
 *
 *  @author    Orbitvu Sp. z o.o <dev@orbitvu.com>
 *  @copyright Orbitvu Sp. z o.o. is the owner of full rights to this code
 *  @license   license.pdf
 */

.orbitvu-gallery {
    margin: 0;
    padding: 0;
    position: relative;
    height: 0;
    z-index: 9;
}
.orbitvu-gallery-fix {
    z-index: 999;
}

.orbitvu-gallery-product-image {
    clear: both;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.orbitvu-hidden {
    display: none !important;
}
.orbitvu-visibility-hidden {
    visibility: hidden !important;
}
.orbitvu-overflow-hidden {
    overflow: hidden !important;
    height: auto !important;
}

.ov360-item-container,
.orbittour-item-container,
.ovvideo-item-container,
.orbitvu-gallery-view-image,
.orbitvu-gallery-view-360,
.orbitvu-gallery-view-tour,
.orbitvu-gallery-view-video {
    position: absolute;
    top: -10000px;
    width: 100%;
    height: 100%;
}

.ov360-item-container.orbitvu-active,
.orbittour-item-container.orbitvu-active,
.ovvideo-item-container.orbitvu-active,
.orbitvu-gallery-view-image.orbitvu-active,
.orbitvu-gallery-view-360.orbitvu-active,
.orbitvu-gallery-view-tour.orbitvu-active,
.orbitvu-gallery-view-video.orbitvu-active {
    position: static;
    display: flex;
    /*align horizontally*/
    justify-content: center;
    /*align vertically*/
    align-items: center;
}
.orbitvu-video-source {
    width: 100%;
    height: 100%;
}
/*.orbitvu-gallery-view-image:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}*/

.orbitvu-gallery-view-image img.orbitvu-gallery-main-image {
    display: inline-block !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    height: auto !important;

}

/*Magnifier*/
.orbitvu-gallery-view-image .orbitvu-gallery-zoomer {
    display: inline-block !important;
    opacity: 0;
    background: #000000;
    position: absolute;
    cursor: crosshair;
}

.orbitvu-gallery-lenses {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.orbitvu-gallery-lenses img.orbitvu-gallery-lenses-image {
    position: absolute;
    top: 0;
    left: 0;
    max-width: none !important;
    max-height: none !important;
}

.orbitvu-gallery-zoomer-zoom {
    position: absolute;
    /*box-sizing: border-box;*/
    overflow: hidden;
    z-index: 999;
    text-align: center;
    cursor: crosshair;
    opacity: 0;
}
.orbitvu-gallery-zoomer-zoom-inner:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.orbitvu-gallery-zoomer-zoom-inner {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.orbitvu-gallery-zoomer-zoom-inner img.orbitvu-gallery-zoomer-zoom-image {
    max-width: none !important;
    max-height: none !important;
    display: inline-block !important;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
}

.orbitvu-gallery-view-image img.orbitvu-gallery-main-image.orbitvu-hidden,
.orbitvu-gallery-view-image .orbitvu-gallery-zoomer.orbitvu-hidden,
.orbitvu-gallery-view-image .orbitvu-gallery-lenses.orbitvu-hidden,
.orbitvu-gallery-zoomer-zoom img.orbitvu-gallery-zoomer-zoom-image.orbitvu-hidden {
    display: none !important;
}

/*Scroller*/
.orbitvu-gallery-scroller {
    position: relative;
    height: auto;
    overflow: hidden;
    margin: 6px 0;
}

.orbitvu-gallery-product-views ul.orbitvu-image-thumbs {
    list-style: none;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    position: relative;
    white-space: nowrap;
    transition: transform 0.4s;
    margin: 2px 0;
}

.orbitvu-gallery-product-views ul.orbitvu-image-thumbs.orbitvu-image-thumbs-no-scroll {
    white-space: normal;
    /*margin-bottom: -6px;*/
}

.orbitvu-gallery-product-views ul.orbitvu-image-thumbs li.orbitvu-gallery-item {
    margin: 6px;
    height: 100%;
    width: auto;
    vertical-align: top;
    line-height: 60px;
    display: inline-block;
    position: relative;
    box-sizing: content-box;
    /*box-shadow: 0 0 1px 0 rgba(10, 10, 10, 0.4);*/
    border: 1px solid rgba(215, 215, 215, 0.3);
    transition: filter 0.15s;
}
.orbitvu-gallery-product-views ul.orbitvu-image-thumbs li.orbitvu-gallery-item:hover {
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
    /*opacity: 0.7;*/
}
.orbitvu-gallery-product-views ul.orbitvu-image-thumbs li.orbitvu-gallery-item.orbitvu-active {
    -webkit-filter: brightness(65%);
    filter: brightness(65%);
    /*opacity: 0.2;*/
}
.orbitvu-gallery-product-views ul.orbitvu-image-thumbs li.orbitvu-gallery-item .orbitvu-icon {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 22px;
    height: 22px;
    background: url('../../img/front/black.png') no-repeat -1000px -1000px;
}

.orbitvu-gallery-product-views ul.orbitvu-image-thumbs li.orbitvu-gallery-item .orbitvu-icon.ov360 {
    background-position: -22px -32px;
}

.orbitvu-gallery-product-views ul.orbitvu-image-thumbs li.orbitvu-gallery-item .orbitvu-icon.ovtour {
    background-position: -44px -32px;
}

.orbitvu-gallery-product-views ul.orbitvu-image-thumbs li.orbitvu-gallery-item .orbitvu-icon.ovvideo {
    background-position: -66px -32px;
}

.orbitvu-gallery-product-views ul.orbitvu-image-thumbs li.orbitvu-gallery-item a.orbitvu-gallery-item-link {
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.orbitvu-gallery-product-views ul.orbitvu-image-thumbs li.orbitvu-gallery-item:first-child,
.orbitvu-gallery-product-views ul.orbitvu-image-thumbs li.orbitvu-gallery-item.orbitvu-gallery-item-first {
    margin-left: 0;
}

.orbitvu-gallery-product-views ul.orbitvu-image-thumbs.orbitvu-image-thumbs-no-scroll li.orbitvu-gallery-item:first-child {
    margin-left: 6px;
}

.orbitvu-gallery-product-views ul.orbitvu-image-thumbs li.orbitvu-gallery-item a.orbitvu-gallery-item-link img {
    display: block;
    margin: 0 auto;
    box-sizing: border-box !important;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/* No css filer support */
.orbitvu-gallery-product-views ul.orbitvu-image-thumbs.orbitvu-no-filter li.orbitvu-gallery-item a:before {
    position: absolute;
    z-index: 2;
    display: block;
    content: "";
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(0,0,0, 0.0);
    transition: background-color 0.15s;
}

.orbitvu-gallery-product-views ul.orbitvu-image-thumbs.orbitvu-no-filter li.orbitvu-gallery-item a:hover::before {
    background: rgba(0,0,0, 0.1);
}

.orbitvu-gallery-product-views ul.orbitvu-image-thumbs.orbitvu-no-filter li.orbitvu-gallery-item a.orbitvu-active::before {
    background: rgba(0,0,0, 0.35);
}

/* Scroll button */
.orbitvu-gallery-button {
    position: absolute;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 15%;
    background: rgba(255, 255, 255, 0.75);
    color: #ddd;
    font: 1.6em sans-serif;
    box-shadow: 0 0 1px rgba(140, 140, 140, 0.5);
    min-width: 24px !important;
    min-height: 30px !important;
    box-sizing: content-box;
    transition: background-color 0.15s linear;
}
.orbitvu-gallery-button:hover {
    background-color: rgba(255, 255, 255, 1);
}
.orbitvu-gallery-button svg {
    opacity: 0.3;
    transition: opacity 0.15s linear;
    vertical-align: middle;
}
.orbitvu-gallery-button svg:hover {
    opacity: 1;
}
#ovgo-next {
    /*display: none;*/
    right: 6px;
    top: 50%;
}

#ovgo-back {
    /*display: none;*/
    left: 6px;
    top: 50%;
}

/*Spinner*/
.orbitvu-spinner {
    width: 100%;
    height: 100%;
    /*width: 70px;*/
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.orbitvu-spinner-inner {
    width: 70px;
}

.orbitvu-spinner .orbitvu-spinner-inner > div {
    width: 18px;
    height: 18px;
    background-color: #ccc;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.orbitvu-spinner .orbitvu-spinner-inner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.orbitvu-spinner .orbitvu-spinner-inner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}

/*Lightbox*/
.orbitvu-lightbox-overlay {
    opacity: 0;
    position: fixed;
    overflow: hidden;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity .3s ease;
    transform-style: preserve-3d;
    perspective: 600px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.orbitvu-lightbox-overlay.orbitvu-lightbox-overlay-bgcolorized {
    background-color: rgba(0, 0, 0, 1) !important;
}

.orbitvu-lightbox-overlay-visible {
    visibility: visible;
    opacity: 1;
}

.orbitvu-lightbox-button {
    position: absolute;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 15%;
    background: none;
    color: #ddd;
    font: 1.6em sans-serif;
    transition: all .4s ease;
}

.orbitvu-lightbox-button:focus,
.orbitvu-lightbox-button:hover {
    transform: scale(0.85);
}

.orbitvu-lightbox-button-prev {
    left: 2%;
    top: 50%;
    top: calc(50% - 30px);
    width: 44px;
    height: 60px;
}

.orbitvu-lightbox-button-next {
    right: 2%;
    top: 50%;
    top: calc(50% - 30px);
    width: 44px;
    height: 60px;
}

.orbitvu-lightbox-button-close {
    top: 20px;
    right: 2%;
    right: calc(2% + 6px);
    width: 30px;
    height: 30px;
}

.orbitvu-lightbox-bgcolorized {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    max-width: none !important;
    max-height: none !important;
    -webkit-transform: translate3d(0,0,0) scale(10);
    -ms-transform: translate(0,0) scale(10, 10);
    transform: translate3d(0,0,0) scale(10);
    -webkit-perspective: 600px;
    perspective: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100% !important;
    min-height: 100% !important;
}

.orbitvu-lightbox-bgcolorized img,
.orbitvu-lightbox-bgcolorized svg {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    width: auto !important;
    height: auto !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
}

.orbitvu-lightbox-bgcolorized img {
    /*filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'orbitvuBlur\'><feGaussianBlur stdDeviation=\'20\' in=\'SourceGraphic\'></feGaussianBlur></filter></svg>#orbitvuBlur");*/
    -webkit-filter: blur(20px) brightness(60%);
    filter: blur(20px) brightness(60%);
    max-width: none !important;
    max-height: none !important;
    width: auto !important;
    height: auto !important;
}

.orbitvu-lightbox-bgcolorized svg {
    opacity: 0.6;
}

.orbitvu-lightbox-slider {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    transition: none;
    text-align: center;
    font-size: 0;
}

.orbitvu-lightbox-slider.orbitvu-animate-slide {
    transition: transform .4s ease;
}

.orbitvu-lightbox-slider.orbitvu-bounce-from-right {
    animation: orbitvuBounceFromRight .4s ease-out;
}

.orbitvu-lightbox-slider.orbitvu-bounce-from-left {
    animation: orbitvuBounceFromLeft .4s ease-out;
}

@keyframes orbitvuBounceFromRight {
    0% {
        margin-left: 0; }
    50% {
        margin-left: -30px; }
    100% {
        margin-left: 0; }
}

@keyframes orbitvuBounceFromLeft {
    0% {
        margin-left: 0; }
    50% {
        margin-left: 30px; }
    100% {
        margin-left: 0; }
}

.orbitvu-lightbox-slide {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.orbitvu-lightbox-slide-inner {
    margin: auto;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.orbitvu-lightbox-slide-inner img {
    display: inline-block;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.orbitvu-lightbox-slide-inner .orbitvu-video-container {
    width: 100%;
    height: 100%;
}

.orbitvu-lightbox-zoomed {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.orbitvu-lightbox-zoomed img {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    max-width: none !important;
    max-height: none !important;
    width: auto !important;
    height: auto !important;
    transform-origin: 0 0 !important;
}

.orbitvu-lightbox-zoomed img.orbitvu-zoom-in {
    transition: transform 0.2s ease-out;
}
.orbitvu-lightbox-zoomed img.orbitvu-zoom-out {
    transition: transform 0.2s ease-in;
}

.orbitvu-lightbox-thumbs {
    position: absolute;
    left: 45px;
    right: 45px;
    bottom: 0;
    padding: 0 0 20px 0;
    text-align: center;
    height: 80px;
    overflow: hidden;
    box-sizing: border-box !important;
}

.orbitvu-lightbox-thumbs-inner {
    width: 100%;
    height: 100%;
    padding: 0 30px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.orbitvu-lightbox-thumbs-list-container {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.orbitvu-lightbox-thumbs-inner.orbitvu-no-buttons {
    padding: 0 !important;
}

.orbitvu-lightbox-thumbs-button {
    position: absolute;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 15%;
    color: #ddd;
    font: 1.6em sans-serif;
    background: none;
    transition: all .4s ease;
}

.orbitvu-lightbox-thumbs-button:focus,
.orbitvu-lightbox-thumbs-button:hover {
    background-color: rgba(80, 80, 80, 0.3);
    transform: scale(0.85);
}

.orbitvu-lightbox-thumbs-button-prev {
    left: 4px;
    top: 50%;
    top: calc(50% - 15px);
    width: 22px;
    height: 30px;
}

.orbitvu-lightbox-thumbs-button-next {
    right: 4px;
    top: 50%;
    top: calc(50% - 15px);
    width: 22px;
    height: 30px;
}
.orbitvu-lightbox-thumbs ul {
    transform: translate3d(0, 0, 0);
    list-style: none;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    position: relative;
    white-space: nowrap;
    transition: transform 0.4s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.orbitvu-lightbox-thumbs ul li {
    margin: 0 4px;
    height: 100%;
    width: auto;
    vertical-align: top;
    line-height: 60px;
    display: inline-block;
}

.orbitvu-lightbox-thumbs ul li img {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    max-width: 60px;
    max-height: 60px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.orbitvu-lightbox-thumbs ul li img:hover {
    cursor: pointer;
}

.orbitvu-lightbox-thumbs ul li img:hover {
    opacity: 0.7;
}
.orbitvu-lightbox-thumbs ul li.orbitvu-active img {
    opacity: 0.2;
}

.orbitvu-lightbox-cursor {
    cursor: -moz-zoom-in !important;
    cursor: -webkit-zoom-in !important;
    cursor: zoom-in !important;
}

.orbitvu-lightbox-cursor-out {
    cursor: -moz-zoom-out !important;
    cursor: -webkit-zoom-out !important;
    cursor: zoom-out !important;
}

/*Give white background for lightbox 360 presentation and orbittours*/
.orbitvu-lightbox-slide-inner.orbitvu-lightbox-slide-inner-ov360,
.orbitvu-lightbox-slide-inner.orbitvu-lightbox-slide-inner-ovtour {
    background: #fff;
}

/*Align vertically lightbox 2d images*/
.orbitvu-lightbox-slide-inner.orbitvu-lightbox-slide-inner-ov2d:before,
.orbitvu-lightbox-slide-inner.orbitvu-lightbox-slide-inner-ov2d-native:before {
    content: ' ';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/*Give black background for lightbox videos*/
.orbitvu-lightbox-slide-inner.orbitvu-lightbox-slide-inner-ovvideo {
    background: #000;
}

/*Hack*/
a.orbittour-thumbnail img {
    height: 90px !important;
    width: 103px !important;
}

.orbittour-size-medium a.orbittour-thumbnail img {
    height: 70px !important;
    width: 80px !important;
}

.orbittour-size-small a.orbittour-thumbnail img {
    height: 60px !important;
    width: 69px !important;
}

img.orbittour-preview-image {
    width: auto !important;
}
span.onsale {
    z-index: 9999;
}
/*.orbittour-inner-container a {
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
}*/

/*Hack for 360 outline*/
.ov360-item-container .orbitvu-container,
.orbitvu-lightbox-slide-inner .orbitvu-container {
    outline: none;
}

.orbitvu-display-images {
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
}
.orbitvu-display-images-text:hover {
    opacity: 0.8;
}
.orbitvu-icon-repeat {
    vertical-align: middle;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-top: 0;
    background: url('../../img/front/refresh.png');
    margin-right: 5px;
}