/**
*
* NOTICE OF LICENSE
*
*/
.icon-refresh {
    width: 11px;
    height: 14px;
}
.margin20{
    margin: 20px;
}

.icon.icon-info{
    font-size: 14px;
    background-color: green;
    width: 20px;
    height:20px;
    line-height:20px;
    border-radius: 50%;
    color: white;
}
.bootstrap .show_more_div .tooltip-inner{
    background-color: green;

}
.show_more_div .tooltip-arrow {
    border-top-color: green!important;
}
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.icon-refresh.loading {
    -webkit-animation: rotating 2s linear infinite;
}
.bootstrap .q-heading{
    height:60px!important;
}
.bootstrap .q-img-small{
    width:60px;
    height: auto;
    margin-top:15px;
    margin-bottom:5px;
}
.bootstrap .q-table-packages th{
    padding:10px!important;
}
.bootstrap .q-table-packages  .btn{
    padding:7px 10px!important;
    margin-right:5px!important;
}
.q-text-right{
    text-align: right;
}
.q-max-width{
    display:inline-block!important;
    max-width:300px;
}
#content input[type='checkbox'], #content input[type='checkbox']:focus, #content input[type='radio'], #content input[type='radio']:focus{
    border:1px solid #a7aeb9;
    background: transparent;
    width:14px;
    height:14px;
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance: none;
    position:relative;
    bottom:2px;
    outline:0;
}
#content input[type='checkbox']:checked:after{
    font:normal normal normal 14px/1 FontAwesome;
    content: "\f00c";
    color:#a7aeb9;
    position:absolute;
    top:-2px;
    right:-5px;
    outline:0;
}
#content input[type='radio']{
    border-radius: 10px;
    border:2px solid #fff!important;
    box-shadow:0 0 0px 1px #a7aeb9;
}
#content input[type='radio']:checked{
    font:normal normal normal 14px/1 FontAwesome;
    background:#a7aeb9;
}
#actions_packages{
    float:left;
}
#content input[type='text'], #content input[type='password'], #content .input-group span{
    border:0;
    background-color:#eaedf2;
    border-radius: 0;
}
#content .chosen-single{
    width:100%;
    max-width:100%;
}
#inpost_order .panel .panel-heading.q-heading {
	cursor:pointer;
}
 
#inpost_order .panel .panel-heading.q-heading .dropdown-icon {
	margin:0 auto;
	display:inline-block;
	width:25px;
}
