/**
 *
 * NOTICE OF LICENSE
 *
 */

#phone_parcel_button,
#select_parcel, #select_parcel_cross {
    width: 100%;
    border-radius: 3px;
    text-align: left;
    margin-bottom: 20px;
    line-height: 32px;
    padding: 10px;
	text-align:center;
	color:#000000;
	background-color:#FED021;
	box-sizing: border-box;
	background-image: none;
	border: 0;
	font-weight:bold;
}
#select_parcel p, #select_parcel_cross p {
    display: inline;
}

.sheepla-widget-fullscreen-visible {
    position: fixed!important;
    z-index: 10000;
}

.sheepla-widget-vail {
    opacity: .9
}

.sheepla-map-trigger-element {
    text-indent: -99999px;
    width: 100%;
    height: 40px;
    background: 0 0;
    border: none !important;
    position: absolute;
    right: 0;
    top: 0;
    outline: 0 !important;
}

.delivery_option_logo img {
    height: 40px !important;
}

.validate-field {
    position: relative;
}
.validate-field span {
    position: absolute;
    right: 5px;
    top: calc(75% - 24px);
    font-size: 24px;
}
.validate-field span.validate-field--invalid {
    color: #f13340;
}
.validate-field span.validate-field--valid {
    color: #43b754;
}