/**
*
* NOTICE OF LICENSE
*
*/
#content.bootstrap input[type='text']{
    width: 100%;
}
.price{
    padding: 20px;
    background-color: gray;
    font-weight:bold;
    color: white;
    margin-bottom:2px;
}
#add_new_price_rule, #add_new_weight_rule, #add_new_price_rule_cod, #add_new_weight_rule_cod {
    margin-bottom: 20px;
}

.nav.navbar-nav li a {
    background-color: #2e3641;
    line-height: 31px;
    color: #999!important;
}

.nav.navbar-nav li.active a {
    color: #fff!important;
}

/*--------inpost changes by qazar------------*/
/*
 *colors
 *gray:     #bdc3cd;
 *green:    #3fb8af;
 *
 */

#content.bootstrap .container-fluid{
    padding:0;
}
#q-big-navbar{
    padding:0;
}
#q-big-navbar li a{
    padding:25px;
    font-size:14px;
    color:#676d76;
    border-right:1px solid #676d76;
    box-sizing:border-box;
    font-weight: bolder;
    text-align:center;
}
#q-big-navbar li a:active, #q-big-navbar li a:hover{
    color:#fff;
}
.q-info{
    background:#fff;
    margin-bottom:10px;
    margin:15px 5px;
}
.q-info p{
    padding:20px;
    margin-bottom:0;
}
.q-info img{
    padding:20px;
    margin:0 auto;
}
#content.bootstrap{
    font-family: 'Open Sans';
}
#content.bootstrap .panel {
    border-radius: 0!important;
    border:0!important;
    box-shadow:none!important;
    background:#fff;
}
#content.bootstrap .panel .panel-heading{
    background:#bdc3cd;
    color:#fff!important;
    font-weight: bold;
    padding:5px 10px;
    font-size:14px;
    font-family: 'Open Sans';
    line-height:1.5;
    border-radius: 0;
    margin-left:-20px;
    margin-right:-20px;

}
#content.bootstrap .panel .panel-footer{
    height:auto;
    min-height:50px;
    border:0;
}
#content.bootstrap .panel .panel-heading i{
    display:none;
}
#content.bootstrap .btn{
    color:#fff;
    padding:7px 25px;
    border-radius:0;
    border:0;
    text-transform: uppercase;
    font-weight: bold;
}
#content.bootstrap .btn.dropdown-toggle{
    padding:8px;
}
#content.bootstrap .dropdown-menu a{
    color:#2e3641;
}
#content.bootstrap .dropdown-menu a i{
    color:#2e3641;
}
#content.bootstrap .btn:not(.btn-danger){
    background: #3fb8af;
}
#content.bootstrap .btn.edit{
    background:#fff;
    border:1px solid #bdc3cd;
    color:#bdc3cd;
}
#content.bootstrap button[type='submit'] i, #content.bootstrap .edit i{
    display:none;
}

#content .price, #content .q-bg{
    background: #bdc3cd;
    font-weight: bold;
}
#content label, #content table td{
    font-weight: bold;
}
#content label, #content table td.last{
    min-width:72px;
}
#content table thead th{
    background:#bdc3cd;
    font-weight:bold;
    border:0;
    padding-top:10px;
    padding-bottom:10px;
}
#content table thead th .title_box{
    padding-top:10px;
}
#content table{
    margin-bottom:40px;
}
#content table i{
    color:#fff;
}
#content table input, #content table span{
    border:0;
    border-radius: 0;
}
#content table .input-group i{
    color:#676d76;
}
#content input[type='checkbox'], #content input[type='checkbox']:focus, #content input[type='radio'], #content input[type='radio']:focus{
    border:1px solid #a7aeb9;
    background: transparent;
    width:14px;
    height:14px;
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance: none;
    position:relative;
    bottom:2px;
    outline:0;
}
#content input[type='checkbox']:checked:after{
    font:normal normal normal 14px/1 FontAwesome;
    content: "\f00c";
    color:#a7aeb9;
    position:absolute;
    top:-2px;
    right:-5px;
    outline:0;
}
#content input[type='radio']{
    border-radius: 10px;
    border:2px solid #fff!important;
    box-shadow:0 0 0px 1px #a7aeb9;
}
#content input[type='radio']:checked{
    font:normal normal normal 14px/1 FontAwesome;
    background:#a7aeb9;
}
#actions_packages{
    float:left;
}

#content.bootstrap select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background:#bdc3cd url(../img/ico-down.svg) center right no-repeat!important;
   color:#676d76;
   font-weight: bold;
   border-radius: 0;
   border:0;
   position:relative;
}
#content.bootstrap select::after{
    display:block!important;
    width:20px!important;
    height:20px!important;
    background: #2e3641!important;
    font-family: "FontAwesome"!important;
    content:">"!important;
    color:#fff;
    position:absolute;
    right:-20px;
    top:0;
}
#content input[type='text'], #content input[type='password'], #content .input-group span{
    border:0;
    background-color:#eaedf2;
    border-radius: 0;

}
#content .input-group span{
    border-right:1px solid #fff;
}
#content.bootstrap table.q-table{
    border:0;
}
#content.bootstrap .q-table tr{
    padding:10px;
    border:1px solid #fff;
}
#content.bootstrap .q-table tr td{
    padding:20px;
    background:#bdc3cd;
}
#content.bootstrap .delete{
    border:2px solid #fff;
    border-radius: 20px;
    color:#fff;
    font-size:14px;
    line-height:1.0;
    padding:4px 8px 6px;
    background:0;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}
#content.bootstrap .delete i{
    font-size:12px!important;
}
#content.bootstrap .badge{
    width:20px;
    height:20px;
    text-align:center;
    position:absolute;
    top:5px;
    line-height:1.8;
    font-size:10px;
    background: #3fb8af;
    right:5px;
}

#content.bootstrap .table-responsive-row{
    width:100%;
    max-width:100%;
    width: 100%;
    margin-bottom: 12.75px;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}
.bootstrap .bulk-actions{
    margin:0 10px 5px 0!important;
}
.bootstrap .q-fix .row{
    margin-bottom: 5px;
}
.bootstrap .q-fix label{
    margin-bottom:5px;
}

.parcel_locker_cod, .parcel_locker, .xborder
{
    padding-left: 10px;
}

.q-form{
    margin:0;
    padding:0;
    width:100%;
    max-width:100%;
    padding-right:10px;
}
.q-form .inner{
    background:#a7aeb9;
    padding:10px;
}
.q-form input{
    margin-bottom:5px;
}
.q-actions .btn{
    margin-right: 10px;
    margin-bottom:5px;
}
/*media query*/
@media all and (max-width:1200px){
    #q-big-navbar li a{

        padding:10px;
    }
    .menu_inpost li a i{
        width:100%;
        text-align:center;
        padding:0!important;
    }
    .control-label{
        width:100%!important;
        text-align:center!important;
    }
}
@media all and (max-width:1024px){
    #q-big-navbar li a{
        text-align:center;
        font-size:12px;
        padding:10px;
    }

}
@media all and (max-width:900px){
     .menu_inpost #q-big-navbar li a{
        padding:2px;
    }

}

@media all and (max-width:768px){
    #q-big-navbar{
        padding:0 5px;
        border:0!important;
    }
    #q-big-navbar ul{
        width:100%;
    }
    #q-big-navbar li{
        width:100%;
    }
    #q-big-navbar li a{
        padding:10px;
        width:100%;
        font-size:14px;
        color:#676d76;
        border-right: 0;
        border-bottom:1px solid #676d76;
    }
}

tr td a i.icon-remove, tr td a i.icon-check{
    color: rgb(102, 102, 102)!important;
}

input[name="PARCELS_LOCKERS_COD_FLAT_PRICE"]{
    margin-bottom: 5px;
}
